<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hawk.ecom.trans.persist.mapper.OrderDetailMapper">

	<sql id="columns">	
				id AS "id" ,
		order_id AS "orderId" ,
		store_code AS "storeCode" ,
		order_code AS "orderCode" ,
		user_code AS "userCode" ,
		product_id AS "productId" ,
		sku_id AS "skuId" ,
		order_detail_name AS "orderDetailName" ,
		order_detail_type AS "orderDetailType" ,
		order_detail_status AS "orderDetailStatus" ,
		order_detail_quantity AS "orderDetailQuantity" ,
		original_unit_price AS "originalUnitPrice" ,
		trans_unit_price AS "transUnitPrice" ,
		orde_detail_original_price AS "ordeDetailOriginalPrice" ,
		orde_detail_trans_price AS "ordeDetailTransPrice" ,
		currency AS "currency" ,
		order_detail_memo AS "orderDetailMemo" ,
		create_user_code AS "createUserCode" ,
		create_date AS "createDate" ,
		update_user_code AS "updateUserCode" ,
		update_date AS "updateDate" ,
		delete_user_code AS "deleteUserCode" ,
		delete_date AS "deleteDate" 
	</sql>
	
	<sql id="where">
		<trim prefix="WHERE" prefixOverrides="AND|OR">		 
			<if test="id != null"> AND id = #{id}  </if>
			<if test="orderId != null"> AND order_id = #{orderId}  </if>
			<if test="storeCode != null"> AND store_code = #{storeCode}  </if>
			<if test="orderCode != null"> AND order_code = #{orderCode}  </if>
			<if test="userCode != null"> AND user_code = #{userCode}  </if>
			<if test="productId != null"> AND product_id = #{productId}  </if>
			<if test="skuId != null"> AND sku_id = #{skuId}  </if>
			<if test="orderDetailName != null"> AND order_detail_name = #{orderDetailName}  </if>
			<if test="orderDetailType != null"> AND order_detail_type = #{orderDetailType}  </if>
			<if test="orderDetailStatus != null"> AND order_detail_status = #{orderDetailStatus}  </if>
			<if test="orderDetailQuantity != null"> AND order_detail_quantity = #{orderDetailQuantity}  </if>
			<if test="originalUnitPrice != null"> AND original_unit_price = #{originalUnitPrice}  </if>
			<if test="transUnitPrice != null"> AND trans_unit_price = #{transUnitPrice}  </if>
			<if test="ordeDetailOriginalPrice != null"> AND orde_detail_original_price = #{ordeDetailOriginalPrice}  </if>
			<if test="ordeDetailTransPrice != null"> AND orde_detail_trans_price = #{ordeDetailTransPrice}  </if>
			<if test="currency != null"> AND currency = #{currency}  </if>
			<if test="orderDetailMemo != null"> AND order_detail_memo = #{orderDetailMemo}  </if>
			<if test="createUserCode != null"> AND create_user_code = #{createUserCode}  </if>
			<if test="createDate != null"> AND create_date = #{createDate}  </if>
			<if test="updateUserCode != null"> AND update_user_code = #{updateUserCode}  </if>
			<if test="updateDate != null"> AND update_date = #{updateDate}  </if>
			<if test="deleteUserCode != null"> AND delete_user_code = #{deleteUserCode}  </if>
			<if test="deleteDate != null"> AND delete_date = #{deleteDate}  </if>
		</trim>	
	</sql>
	
	<sql id="where_old">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="old_id != null"> AND id = #{old_id}  </if>			
			<if test="old_orderId != null"> AND order_id = #{old_orderId}  </if>			
			<if test="old_storeCode != null"> AND store_code = #{old_storeCode}  </if>			
			<if test="old_orderCode != null"> AND order_code = #{old_orderCode}  </if>			
			<if test="old_userCode != null"> AND user_code = #{old_userCode}  </if>			
			<if test="old_productId != null"> AND product_id = #{old_productId}  </if>			
			<if test="old_skuId != null"> AND sku_id = #{old_skuId}  </if>			
			<if test="old_orderDetailName != null"> AND order_detail_name = #{old_orderDetailName}  </if>			
			<if test="old_orderDetailType != null"> AND order_detail_type = #{old_orderDetailType}  </if>			
			<if test="old_orderDetailStatus != null"> AND order_detail_status = #{old_orderDetailStatus}  </if>			
			<if test="old_orderDetailQuantity != null"> AND order_detail_quantity = #{old_orderDetailQuantity}  </if>			
			<if test="old_originalUnitPrice != null"> AND original_unit_price = #{old_originalUnitPrice}  </if>			
			<if test="old_transUnitPrice != null"> AND trans_unit_price = #{old_transUnitPrice}  </if>			
			<if test="old_ordeDetailOriginalPrice != null"> AND orde_detail_original_price = #{old_ordeDetailOriginalPrice}  </if>			
			<if test="old_ordeDetailTransPrice != null"> AND orde_detail_trans_price = #{old_ordeDetailTransPrice}  </if>			
			<if test="old_currency != null"> AND currency = #{old_currency}  </if>			
			<if test="old_orderDetailMemo != null"> AND order_detail_memo = #{old_orderDetailMemo}  </if>			
			<if test="old_createUserCode != null"> AND create_user_code = #{old_createUserCode}  </if>			
			<if test="old_createDate != null"> AND create_date = #{old_createDate}  </if>			
			<if test="old_updateUserCode != null"> AND update_user_code = #{old_updateUserCode}  </if>			
			<if test="old_updateDate != null"> AND update_date = #{old_updateDate}  </if>			
			<if test="old_deleteUserCode != null"> AND delete_user_code = #{old_deleteUserCode}  </if>			
			<if test="old_deleteDate != null"> AND delete_date = #{old_deleteDate}  </if>			
		</trim>
	</sql>
	
	<sql id="update">
		<set>
			id = #{id},
			order_id = #{orderId},
			store_code = #{storeCode},
			order_code = #{orderCode},
			user_code = #{userCode},
			product_id = #{productId},
			sku_id = #{skuId},
			order_detail_name = #{orderDetailName},
			order_detail_type = #{orderDetailType},
			order_detail_status = #{orderDetailStatus},
			order_detail_quantity = #{orderDetailQuantity},
			original_unit_price = #{originalUnitPrice},
			trans_unit_price = #{transUnitPrice},
			orde_detail_original_price = #{ordeDetailOriginalPrice},
			orde_detail_trans_price = #{ordeDetailTransPrice},
			currency = #{currency},
			order_detail_memo = #{orderDetailMemo},
			create_user_code = #{createUserCode},
			create_date = #{createDate},
			update_user_code = #{updateUserCode},
			update_date = #{updateDate},
			delete_user_code = #{deleteUserCode},
			delete_date = #{deleteDate},
		</set>
	</sql>
	
	<sql id="updateWithoutNull">
		<set>
			<if test="id != null">id = #{id},</if>
			<if test="orderId != null">order_id = #{orderId},</if>
			<if test="storeCode != null">store_code = #{storeCode},</if>
			<if test="orderCode != null">order_code = #{orderCode},</if>
			<if test="userCode != null">user_code = #{userCode},</if>
			<if test="productId != null">product_id = #{productId},</if>
			<if test="skuId != null">sku_id = #{skuId},</if>
			<if test="orderDetailName != null">order_detail_name = #{orderDetailName},</if>
			<if test="orderDetailType != null">order_detail_type = #{orderDetailType},</if>
			<if test="orderDetailStatus != null">order_detail_status = #{orderDetailStatus},</if>
			<if test="orderDetailQuantity != null">order_detail_quantity = #{orderDetailQuantity},</if>
			<if test="originalUnitPrice != null">original_unit_price = #{originalUnitPrice},</if>
			<if test="transUnitPrice != null">trans_unit_price = #{transUnitPrice},</if>
			<if test="ordeDetailOriginalPrice != null">orde_detail_original_price = #{ordeDetailOriginalPrice},</if>
			<if test="ordeDetailTransPrice != null">orde_detail_trans_price = #{ordeDetailTransPrice},</if>
			<if test="currency != null">currency = #{currency},</if>
			<if test="orderDetailMemo != null">order_detail_memo = #{orderDetailMemo},</if>
			<if test="createUserCode != null">create_user_code = #{createUserCode},</if>
			<if test="createDate != null">create_date = #{createDate},</if>
			<if test="updateUserCode != null">update_user_code = #{updateUserCode},</if>
			<if test="updateDate != null">update_date = #{updateDate},</if>
			<if test="deleteUserCode != null">delete_user_code = #{deleteUserCode},</if>
			<if test="deleteDate != null">delete_date = #{deleteDate},</if>
		</set>
	</sql>
	
	<sql id="pkwhere">
		<trim prefix="WHERE" prefixOverrides="AND">
			AND id = #{id}
		</trim>
	</sql>
	
	<select id="load"  resultType="OrderDetailDomain">
		SELECT 
		<include refid="columns" />
		FROM t_tra_order_detail
		<include refid="pkwhere" />		
	</select>
	
	<select id="loadDynamic" parameterType="hashmap" resultType="OrderDetailDomain">
		SELECT 		
		<include refid="columns" />
		FROM t_tra_order_detail
		<include refid="where" />
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
	</select>

	<select id="count"  parameterType="hashmap" resultType="integer">
		SELECT count(1) 
		FROM t_tra_order_detail
		<include refid="where" />
	</select>
	
	<select id="countByPK"  resultType="integer">
		SELECT count(1) 
		FROM t_tra_order_detail
		<include refid="pkwhere" />		
	</select>
	
	<insert id="insert"  parameterType="OrderDetailDomain">
		INSERT INTO t_tra_order_detail (			
				id,				
				order_id,				
				store_code,				
				order_code,				
				user_code,				
				product_id,				
				sku_id,				
				order_detail_name,				
				order_detail_type,				
				order_detail_status,				
				order_detail_quantity,				
				original_unit_price,				
				trans_unit_price,				
				orde_detail_original_price,				
				orde_detail_trans_price,				
				currency,				
				order_detail_memo,				
				create_user_code,				
				create_date,				
				update_user_code,				
				update_date,				
				delete_user_code,				
				delete_date				
		)		
		VALUES (	
			#{id},
			#{orderId},
			#{storeCode},
			#{orderCode},
			#{userCode},
			#{productId},
			#{skuId},
			#{orderDetailName},
			#{orderDetailType},
			#{orderDetailStatus},
			#{orderDetailQuantity},
			#{originalUnitPrice},
			#{transUnitPrice},
			#{ordeDetailOriginalPrice},
			#{ordeDetailTransPrice},
			#{currency},
			#{orderDetailMemo},
			#{createUserCode},
			#{createDate},
			#{updateUserCode},
			#{updateDate},
			#{deleteUserCode},
			#{deleteDate}
		) 
	</insert>
	
	<delete id="delete" >
		DELETE FROM t_tra_order_detail
		<include refid="pkwhere" />	
	</delete>
	
	<delete id="deleteDynamic" parameterType="hashmap">
		DELETE FROM t_tra_order_detail
		<include refid="where" />
	</delete>

	<update id="update" parameterType="OrderDetailDomain">
		UPDATE t_tra_order_detail	
		<include refid="update" />
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateWithoutNull" parameterType="OrderDetailDomain">
		UPDATE t_tra_order_detail
		<include refid="updateWithoutNull"/>
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateDynamicWithoutNull" parameterType="hashmap">
		UPDATE t_tra_order_detail	
		<include refid="updateWithoutNull" />
		<include refid="where_old" />
	</update>
	
	<select id="loadDynamicPaging" parameterType="hashmap" resultType="OrderDetailDomain">
		SELECT 		
		<include refid="columns" />
		FROM t_tra_order_detail
		<include refid="where" />
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
		<if test="_offset != null">LIMIT #{_offset},#{_limit}</if>	
	</select>
</mapper>