<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hawk.ecom.trans.persist.mapper.OrderOperationMapper">

	<sql id="columns">	
				id AS "id" ,
		order_id AS "orderId" ,
		store_code AS "storeCode" ,
		order_code AS "orderCode" ,
		user_code AS "userCode" ,
		order_pre_status AS "orderPreStatus" ,
		order_next_status AS "orderNextStatus" ,
		operation_desc AS "operationDesc" ,
		operation_memo AS "operationMemo" ,
		create_user_code AS "createUserCode" ,
		create_date AS "createDate" ,
		update_user_code AS "updateUserCode" ,
		update_date AS "updateDate" ,
		delete_user_code AS "deleteUserCode" ,
		delete_date AS "deleteDate" 
	</sql>
	
	<sql id="where">
		<trim prefix="WHERE" prefixOverrides="AND|OR">		 
			<if test="id != null"> AND id = #{id}  </if>
			<if test="orderId != null"> AND order_id = #{orderId}  </if>
			<if test="storeCode != null"> AND store_code = #{storeCode}  </if>
			<if test="orderCode != null"> AND order_code = #{orderCode}  </if>
			<if test="userCode != null"> AND user_code = #{userCode}  </if>
			<if test="orderPreStatus != null"> AND order_pre_status = #{orderPreStatus}  </if>
			<if test="orderNextStatus != null"> AND order_next_status = #{orderNextStatus}  </if>
			<if test="operationDesc != null"> AND operation_desc = #{operationDesc}  </if>
			<if test="operationMemo != null"> AND operation_memo = #{operationMemo}  </if>
			<if test="createUserCode != null"> AND create_user_code = #{createUserCode}  </if>
			<if test="createDate != null"> AND create_date = #{createDate}  </if>
			<if test="updateUserCode != null"> AND update_user_code = #{updateUserCode}  </if>
			<if test="updateDate != null"> AND update_date = #{updateDate}  </if>
			<if test="deleteUserCode != null"> AND delete_user_code = #{deleteUserCode}  </if>
			<if test="deleteDate != null"> AND delete_date = #{deleteDate}  </if>
		</trim>	
	</sql>
	
	<sql id="where_old">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="id != null"> AND id = #{old_id}  </if>			
			<if test="orderId != null"> AND order_id = #{old_orderId}  </if>			
			<if test="storeCode != null"> AND store_code = #{old_storeCode}  </if>			
			<if test="orderCode != null"> AND order_code = #{old_orderCode}  </if>			
			<if test="userCode != null"> AND user_code = #{old_userCode}  </if>			
			<if test="orderPreStatus != null"> AND order_pre_status = #{old_orderPreStatus}  </if>			
			<if test="orderNextStatus != null"> AND order_next_status = #{old_orderNextStatus}  </if>			
			<if test="operationDesc != null"> AND operation_desc = #{old_operationDesc}  </if>			
			<if test="operationMemo != null"> AND operation_memo = #{old_operationMemo}  </if>			
			<if test="createUserCode != null"> AND create_user_code = #{old_createUserCode}  </if>			
			<if test="createDate != null"> AND create_date = #{old_createDate}  </if>			
			<if test="updateUserCode != null"> AND update_user_code = #{old_updateUserCode}  </if>			
			<if test="updateDate != null"> AND update_date = #{old_updateDate}  </if>			
			<if test="deleteUserCode != null"> AND delete_user_code = #{old_deleteUserCode}  </if>			
			<if test="deleteDate != null"> AND delete_date = #{old_deleteDate}  </if>			
		</trim>
	</sql>
	
	<sql id="update">
		<set>
			id = #{id},
			order_id = #{orderId},
			store_code = #{storeCode},
			order_code = #{orderCode},
			user_code = #{userCode},
			order_pre_status = #{orderPreStatus},
			order_next_status = #{orderNextStatus},
			operation_desc = #{operationDesc},
			operation_memo = #{operationMemo},
			create_user_code = #{createUserCode},
			create_date = #{createDate},
			update_user_code = #{updateUserCode},
			update_date = #{updateDate},
			delete_user_code = #{deleteUserCode},
			delete_date = #{deleteDate},
		</set>
	</sql>
	
	<sql id="updateWithoutNull">
		<set>
			<if test="id != null">id = #{id},</if>
			<if test="orderId != null">order_id = #{orderId},</if>
			<if test="storeCode != null">store_code = #{storeCode},</if>
			<if test="orderCode != null">order_code = #{orderCode},</if>
			<if test="userCode != null">user_code = #{userCode},</if>
			<if test="orderPreStatus != null">order_pre_status = #{orderPreStatus},</if>
			<if test="orderNextStatus != null">order_next_status = #{orderNextStatus},</if>
			<if test="operationDesc != null">operation_desc = #{operationDesc},</if>
			<if test="operationMemo != null">operation_memo = #{operationMemo},</if>
			<if test="createUserCode != null">create_user_code = #{createUserCode},</if>
			<if test="createDate != null">create_date = #{createDate},</if>
			<if test="updateUserCode != null">update_user_code = #{updateUserCode},</if>
			<if test="updateDate != null">update_date = #{updateDate},</if>
			<if test="deleteUserCode != null">delete_user_code = #{deleteUserCode},</if>
			<if test="deleteDate != null">delete_date = #{deleteDate},</if>
		</set>
	</sql>
	
	<sql id="pkwhere">
		<trim prefix="WHERE" prefixOverrides="AND">
			AND id = #{id}
		</trim>
	</sql>
	
	<select id="load"  resultType="OrderOperationDomain">
		SELECT 
		<include refid="columns" />
		FROM t_tra_order_operation
		<include refid="pkwhere" />		
	</select>
	
	<select id="loadDynamic" parameterType="hashmap" resultType="OrderOperationDomain">
		SELECT 		
		<include refid="columns" />
		FROM t_tra_order_operation
		<include refid="where" />
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
	</select>

	<select id="count"  parameterType="hashmap" resultType="integer">
		SELECT count(1) 
		FROM t_tra_order_operation
		<include refid="where" />
	</select>
	
	<select id="countByPK"  resultType="integer">
		SELECT count(1) 
		FROM t_tra_order_operation
		<include refid="pkwhere" />		
	</select>
	
	<insert id="insert"  parameterType="OrderOperationDomain">
		INSERT INTO t_tra_order_operation (			
				id,				
				order_id,				
				store_code,				
				order_code,				
				user_code,				
				order_pre_status,				
				order_next_status,				
				operation_desc,				
				operation_memo,				
				create_user_code,				
				create_date,				
				update_user_code,				
				update_date,				
				delete_user_code,				
				delete_date				
		)		
		VALUES (	
			#{id},
			#{orderId},
			#{storeCode},
			#{orderCode},
			#{userCode},
			#{orderPreStatus},
			#{orderNextStatus},
			#{operationDesc},
			#{operationMemo},
			#{createUserCode},
			#{createDate},
			#{updateUserCode},
			#{updateDate},
			#{deleteUserCode},
			#{deleteDate}
		) 
	</insert>
	
	<delete id="delete" >
		DELETE FROM t_tra_order_operation
		<include refid="pkwhere" />	
	</delete>
	
	<delete id="deleteDynamic" parameterType="hashmap">
		DELETE FROM t_tra_order_operation
		<include refid="where" />
	</delete>

	<update id="update" parameterType="OrderOperationDomain">
		UPDATE t_tra_order_operation	
		<include refid="update" />
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateWithoutNull" parameterType="OrderOperationDomain">
		UPDATE t_tra_order_operation
		<include refid="updateWithoutNull"/>
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateDynamicWithoutNull" parameterType="hashmap">
		UPDATE t_tra_order_operation	
		<include refid="updateWithoutNull" />
		<include refid="where_old" />
	</update>
	
	<select id="loadDynamicPaging" parameterType="hashmap" resultType="OrderOperationDomain">
		SELECT 		
		<include refid="columns" />
		FROM t_tra_order_operation
		<include refid="where" />
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
		<if test="_offset != null">LIMIT #{_offset},#{_limit}</if>	
	</select>
</mapper>