<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hawk.ecom.svp.persist.mapperex.BsiPhoneModelExMapper">

	<select id="queryBrand" resultType="String">
		SELECT distinct bsi_phone_brand as bsiPhoneBrand 
		FROM t_svp_bsi_phone_model
		WHERE bsi_phone_model_status = '1'
	</select>
	
</mapper>