<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hawk.framework.dic.mapper.IndexMapper">

	<sql id="columns">
				object_id AS "objectId" ,
		table_object_id AS "tableObjectId" ,
		object_label AS "objectLabel" ,
		object_name AS "objectName" ,
		description AS "description" ,
		is_unique AS "isUnique" ,
		is_pk AS "isPk" 
	</sql>
	
	<sql id="where">
		<trim prefix="WHERE" prefixOverrides="AND|OR">		 
			<if test="objectId != null"> AND object_id = #{objectId}  </if>
			<if test="tableObjectId != null"> AND table_object_id = #{tableObjectId}  </if>
			<if test="objectLabel != null"> AND object_label = #{objectLabel}  </if>
			<if test="objectName != null"> AND object_name = #{objectName}  </if>
			<if test="description != null"> AND description = #{description}  </if>
			<if test="isUnique != null"> AND is_unique = #{isUnique}  </if>
			<if test="isPk != null"> AND is_pk = #{isPk}  </if>
		</trim>	
	</sql>
	
	<sql id="where_old">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			AND object_id = #{old_objectId}
			AND table_object_id = #{old_tableObjectId}
			AND object_label = #{old_objectLabel}
			AND object_name = #{old_objectName}
			AND description = #{old_description}
			AND is_unique = #{old_isUnique}
			AND is_pk = #{old_isPk}
		</trim>
	</sql>
	
	<sql id="update">
		<set>
			object_id = #{objectId},
			table_object_id = #{tableObjectId},
			object_label = #{objectLabel},
			object_name = #{objectName},
			description = #{description},
			is_unique = #{isUnique},
			is_pk = #{isPk},
		</set>
	</sql>
	
	<sql id="updateWithoutNull">
		<set>
			<if test="objectId != null">object_id = #{objectId},</if>
			<if test="tableObjectId != null">table_object_id = #{tableObjectId},</if>
			<if test="objectLabel != null">object_label = #{objectLabel},</if>
			<if test="objectName != null">object_name = #{objectName},</if>
			<if test="description != null">description = #{description},</if>
			<if test="isUnique != null">is_unique = #{isUnique},</if>
			<if test="isPk != null">is_pk = #{isPk},</if>
		</set>
	</sql>
	
	<sql id="pkwhere">
		<trim prefix="WHERE" prefixOverrides="AND">
			AND object_id = #{objectId}
		</trim>
	</sql>
	
	<select id="load"  resultType="IndexDomain">
		SELECT 
		<include refid="columns" />
		FROM t_dic_index
		<include refid="pkwhere" />		
	</select>
	
	<select id="loadDynamic" parameterType="hashmap" resultType="IndexDomain">
		SELECT 		
		<include refid="columns" />
		FROM t_dic_index
		<include refid="where" />
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
	</select>

	<select id="count"  parameterType="hashmap" resultType="integer">
		SELECT count(1) 
		FROM t_dic_index
		<include refid="where" />
	</select>
	
	<select id="countByPK"  resultType="integer">
		SELECT count(1) 
		FROM t_dic_index
		<include refid="pkwhere" />		
	</select>
	
	<insert id="insert"  parameterType="IndexDomain">
		INSERT INTO t_dic_index (			
				object_id,				
				table_object_id,				
				object_label,				
				object_name,				
				description,				
				is_unique,				
				is_pk				
		)		
		VALUES (	
			#{objectId},
			#{tableObjectId},
			#{objectLabel},
			#{objectName},
			#{description},
			#{isUnique},
			#{isPk}
		) 
	</insert>
	
	<delete id="delete" >
		DELETE FROM t_dic_index
		<include refid="pkwhere" />	
	</delete>
	
	<delete id="deleteDynamic" parameterType="hashmap">
		DELETE FROM t_dic_index
		<include refid="where" />
	</delete>

	<update id="update" parameterType="IndexDomain">
		UPDATE t_dic_index	
		<include refid="update" />
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateWithoutNull" parameterType="IndexDomain">
		UPDATE t_dic_index
		<include refid="updateWithoutNull"/>
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateDynamic" parameterType="hashmap">
		UPDATE t_dic_index	
		<include refid="update" />
		<include refid="where_old" />
	</update>
	
	<select id="loadDynamicPaging" parameterType="hashmap" resultType="IndexDomain">
		SELECT 		
		<include refid="columns" />
		FROM t_dic_index
		<include refid="where" />
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
		<if test="_offset != null">LIMIT #{_offset},#{_limit}</if>	
	</select>
</mapper>