<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hawk.ecom.mall.persist.mapperex.BsiAdminExMapper">

	<sql id="columns">	
		order_code AS "orderCode" ,
		user_code AS "userCode" ,
		bsi_task_status AS "bsiTaskStatus" ,
		bsi_cash_coupon_code AS "bsiCashCouponCode" ,
		bsi_insurance_code AS "bsiInsuranceCode" ,		
		create_date AS "createDate" 
	</sql>
	

	
	<select id="reportOrderDetail"  resultType="hashmap">
		SELECT 		
		<include refid="columns" />
		FROM t_svp_bsi_order_detail
		WHERE create_date &gt;= ${stdt}
		AND create_date &lt; ${endt}
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
		<if test="_offset != null">LIMIT #{_offset},#{_limit}</if>	
	</select>
</mapper>