<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hawk.ecom.base.persist.mapper.DistrictTypeMapper">

	<sql id="columns">	
				district_type AS "districtType" ,
		district_type_name AS "districtTypeName" 
	</sql>
	
	<sql id="where">
		<trim prefix="WHERE" prefixOverrides="AND|OR">		 
			<if test="districtType != null"> AND district_type = #{districtType}  </if>
			<if test="districtTypeName != null"> AND district_type_name = #{districtTypeName}  </if>
		</trim>	
	</sql>
	
	<sql id="where_old">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="old_districtType != null"> AND district_type = #{old_districtType}  </if>			
			<if test="old_districtTypeName != null"> AND district_type_name = #{old_districtTypeName}  </if>			
		</trim>
	</sql>
	
	<sql id="update">
		<set>
			district_type = #{districtType},
			district_type_name = #{districtTypeName},
		</set>
	</sql>
	
	<sql id="updateWithoutNull">
		<set>
			<if test="districtType != null">district_type = #{districtType},</if>
			<if test="districtTypeName != null">district_type_name = #{districtTypeName},</if>
		</set>
	</sql>
	
	<sql id="pkwhere">
		<trim prefix="WHERE" prefixOverrides="AND">
			AND district_type = #{districtType}
		</trim>
	</sql>
	
	<select id="load"  resultType="DistrictTypeDomain">
		SELECT 
		<include refid="columns" />
		FROM t_bas_district_type
		<include refid="pkwhere" />		
	</select>
	
	<select id="loadDynamic" parameterType="hashmap" resultType="DistrictTypeDomain">
		SELECT 		
		<include refid="columns" />
		FROM t_bas_district_type
		<include refid="where" />
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
	</select>

	<select id="count"  parameterType="hashmap" resultType="integer">
		SELECT count(1) 
		FROM t_bas_district_type
		<include refid="where" />
	</select>
	
	<select id="countByPK"  resultType="integer">
		SELECT count(1) 
		FROM t_bas_district_type
		<include refid="pkwhere" />		
	</select>
	
	<insert id="insert"  parameterType="DistrictTypeDomain">
		INSERT INTO t_bas_district_type (			
				district_type,				
				district_type_name				
		)		
		VALUES (	
			#{districtType},
			#{districtTypeName}
		) 
	</insert>
	
	<delete id="delete" >
		DELETE FROM t_bas_district_type
		<include refid="pkwhere" />	
	</delete>
	
	<delete id="deleteDynamic" parameterType="hashmap">
		DELETE FROM t_bas_district_type
		<include refid="where" />
	</delete>

	<update id="update" parameterType="DistrictTypeDomain">
		UPDATE t_bas_district_type	
		<include refid="update" />
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateWithoutNull" parameterType="DistrictTypeDomain">
		UPDATE t_bas_district_type
		<include refid="updateWithoutNull"/>
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateDynamicWithoutNull" parameterType="hashmap">
		UPDATE t_bas_district_type	
		<include refid="updateWithoutNull" />
		<include refid="where_old" />
	</update>
	
	<select id="loadDynamicPaging" parameterType="hashmap" resultType="DistrictTypeDomain">
		SELECT 		
		<include refid="columns" />
		FROM t_bas_district_type
		<include refid="where" />
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
		<if test="_offset != null">LIMIT #{_offset},#{_limit}</if>	
	</select>
</mapper>