<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hawk.framework.dic.persist.mapper.WordMapper">

	<sql id="columns">	
				object_id AS "objectId" ,
		use_type AS "useType" ,
		data_type AS "dataType" ,
		object_code AS "objectCode" ,
		object_name AS "objectName" ,
		object_comment AS "objectComment" ,
		object_display_name AS "objectDisplayName" ,
		object_pattern AS "objectPattern" ,
		object_pattern_comment AS "objectPatternComment" ,
		regex AS "regex" ,
		object_extra_validation AS "objectExtraValidation" ,
		char_max_length AS "charMaxLength" ,
		char_min_length AS "charMinLength" ,
		is_only_ascii AS "isOnlyAscii" ,
		max_value AS "maxValue" ,
		min_value AS "minValue" ,
		datetime_precision AS "datetimePrecision" ,
		numeric_precision AS "numericPrecision" ,
		numeric_scale AS "numericScale" ,
		is_enum AS "isEnum" ,
		enum_values AS "enumValues" ,
		system_code AS "systemCode" ,
		version AS "version" ,
		create_date AS "createDate" ,
		update_date AS "updateDate" ,
		delete_date AS "deleteDate" 
	</sql>
	
	<sql id="where">
		<trim prefix="WHERE" prefixOverrides="AND|OR">		 
			<if test="objectId != null"> AND object_id = #{objectId}  </if>
			<if test="useType != null"> AND use_type = #{useType}  </if>
			<if test="dataType != null"> AND data_type = #{dataType}  </if>
			<if test="objectCode != null"> AND object_code = #{objectCode}  </if>
			<if test="objectName != null"> AND object_name = #{objectName}  </if>
			<if test="objectComment != null"> AND object_comment = #{objectComment}  </if>
			<if test="objectDisplayName != null"> AND object_display_name = #{objectDisplayName}  </if>
			<if test="objectPattern != null"> AND object_pattern = #{objectPattern}  </if>
			<if test="objectPatternComment != null"> AND object_pattern_comment = #{objectPatternComment}  </if>
			<if test="regex != null"> AND regex = #{regex}  </if>
			<if test="objectExtraValidation != null"> AND object_extra_validation = #{objectExtraValidation}  </if>
			<if test="charMaxLength != null"> AND char_max_length = #{charMaxLength}  </if>
			<if test="charMinLength != null"> AND char_min_length = #{charMinLength}  </if>
			<if test="isOnlyAscii != null"> AND is_only_ascii = #{isOnlyAscii}  </if>
			<if test="maxValue != null"> AND max_value = #{maxValue}  </if>
			<if test="minValue != null"> AND min_value = #{minValue}  </if>
			<if test="datetimePrecision != null"> AND datetime_precision = #{datetimePrecision}  </if>
			<if test="numericPrecision != null"> AND numeric_precision = #{numericPrecision}  </if>
			<if test="numericScale != null"> AND numeric_scale = #{numericScale}  </if>
			<if test="isEnum != null"> AND is_enum = #{isEnum}  </if>
			<if test="enumValues != null"> AND enum_values = #{enumValues}  </if>
			<if test="systemCode != null"> AND system_code = #{systemCode}  </if>
			<if test="version != null"> AND version = #{version}  </if>
			<if test="createDate != null"> AND create_date = #{createDate}  </if>
			<if test="updateDate != null"> AND update_date = #{updateDate}  </if>
			<if test="deleteDate != null"> AND delete_date = #{deleteDate}  </if>
		</trim>	
	</sql>
	
	<sql id="where_old">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			AND object_id = #{old_objectId}
			AND use_type = #{old_useType}
			AND data_type = #{old_dataType}
			AND object_code = #{old_objectCode}
			AND object_name = #{old_objectName}
			AND object_comment = #{old_objectComment}
			AND object_display_name = #{old_objectDisplayName}
			AND object_pattern = #{old_objectPattern}
			AND object_pattern_comment = #{old_objectPatternComment}
			AND regex = #{old_regex}
			AND object_extra_validation = #{old_objectExtraValidation}
			AND char_max_length = #{old_charMaxLength}
			AND char_min_length = #{old_charMinLength}
			AND is_only_ascii = #{old_isOnlyAscii}
			AND max_value = #{old_maxValue}
			AND min_value = #{old_minValue}
			AND datetime_precision = #{old_datetimePrecision}
			AND numeric_precision = #{old_numericPrecision}
			AND numeric_scale = #{old_numericScale}
			AND is_enum = #{old_isEnum}
			AND enum_values = #{old_enumValues}
			AND system_code = #{old_systemCode}
			AND version = #{old_version}
			AND create_date = #{old_createDate}
			AND update_date = #{old_updateDate}
			AND delete_date = #{old_deleteDate}
		</trim>
	</sql>
	
	<sql id="update">
		<set>
			object_id = #{objectId},
			use_type = #{useType},
			data_type = #{dataType},
			object_code = #{objectCode},
			object_name = #{objectName},
			object_comment = #{objectComment},
			object_display_name = #{objectDisplayName},
			object_pattern = #{objectPattern},
			object_pattern_comment = #{objectPatternComment},
			regex = #{regex},
			object_extra_validation = #{objectExtraValidation},
			char_max_length = #{charMaxLength},
			char_min_length = #{charMinLength},
			is_only_ascii = #{isOnlyAscii},
			max_value = #{maxValue},
			min_value = #{minValue},
			datetime_precision = #{datetimePrecision},
			numeric_precision = #{numericPrecision},
			numeric_scale = #{numericScale},
			is_enum = #{isEnum},
			enum_values = #{enumValues},
			system_code = #{systemCode},
			version = #{version},
			create_date = #{createDate},
			update_date = #{updateDate},
			delete_date = #{deleteDate},
		</set>
	</sql>
	
	<sql id="updateWithoutNull">
		<set>
			<if test="objectId != null">object_id = #{objectId},</if>
			<if test="useType != null">use_type = #{useType},</if>
			<if test="dataType != null">data_type = #{dataType},</if>
			<if test="objectCode != null">object_code = #{objectCode},</if>
			<if test="objectName != null">object_name = #{objectName},</if>
			<if test="objectComment != null">object_comment = #{objectComment},</if>
			<if test="objectDisplayName != null">object_display_name = #{objectDisplayName},</if>
			<if test="objectPattern != null">object_pattern = #{objectPattern},</if>
			<if test="objectPatternComment != null">object_pattern_comment = #{objectPatternComment},</if>
			<if test="regex != null">regex = #{regex},</if>
			<if test="objectExtraValidation != null">object_extra_validation = #{objectExtraValidation},</if>
			<if test="charMaxLength != null">char_max_length = #{charMaxLength},</if>
			<if test="charMinLength != null">char_min_length = #{charMinLength},</if>
			<if test="isOnlyAscii != null">is_only_ascii = #{isOnlyAscii},</if>
			<if test="maxValue != null">max_value = #{maxValue},</if>
			<if test="minValue != null">min_value = #{minValue},</if>
			<if test="datetimePrecision != null">datetime_precision = #{datetimePrecision},</if>
			<if test="numericPrecision != null">numeric_precision = #{numericPrecision},</if>
			<if test="numericScale != null">numeric_scale = #{numericScale},</if>
			<if test="isEnum != null">is_enum = #{isEnum},</if>
			<if test="enumValues != null">enum_values = #{enumValues},</if>
			<if test="systemCode != null">system_code = #{systemCode},</if>
			<if test="version != null">version = #{version},</if>
			<if test="createDate != null">create_date = #{createDate},</if>
			<if test="updateDate != null">update_date = #{updateDate},</if>
			<if test="deleteDate != null">delete_date = #{deleteDate},</if>
		</set>
	</sql>
	
	<sql id="pkwhere">
		<trim prefix="WHERE" prefixOverrides="AND">
			AND object_id = #{objectId}
		</trim>
	</sql>
	
	<select id="load"  resultType="WordDomain">
		SELECT 
		<include refid="columns" />
		FROM t_dic_word
		<include refid="pkwhere" />		
	</select>
	
	<select id="loadDynamic" parameterType="hashmap" resultType="WordDomain">
		SELECT 		
		<include refid="columns" />
		FROM t_dic_word
		<include refid="where" />
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
	</select>

	<select id="count"  parameterType="hashmap" resultType="integer">
		SELECT count(1) 
		FROM t_dic_word
		<include refid="where" />
	</select>
	
	<select id="countByPK"  resultType="integer">
		SELECT count(1) 
		FROM t_dic_word
		<include refid="pkwhere" />		
	</select>
	
	<insert id="insert"  parameterType="WordDomain">
		INSERT INTO t_dic_word (			
				object_id,				
				use_type,				
				data_type,				
				object_code,				
				object_name,				
				object_comment,				
				object_display_name,				
				object_pattern,				
				object_pattern_comment,				
				regex,				
				object_extra_validation,				
				char_max_length,				
				char_min_length,				
				is_only_ascii,				
				max_value,				
				min_value,				
				datetime_precision,				
				numeric_precision,				
				numeric_scale,				
				is_enum,				
				enum_values,				
				system_code,				
				version,				
				create_date,				
				update_date,				
				delete_date				
		)		
		VALUES (	
			#{objectId},
			#{useType},
			#{dataType},
			#{objectCode},
			#{objectName},
			#{objectComment},
			#{objectDisplayName},
			#{objectPattern},
			#{objectPatternComment},
			#{regex},
			#{objectExtraValidation},
			#{charMaxLength},
			#{charMinLength},
			#{isOnlyAscii},
			#{maxValue},
			#{minValue},
			#{datetimePrecision},
			#{numericPrecision},
			#{numericScale},
			#{isEnum},
			#{enumValues},
			#{systemCode},
			#{version},
			#{createDate},
			#{updateDate},
			#{deleteDate}
		) 
	</insert>
	
	<delete id="delete" >
		DELETE FROM t_dic_word
		<include refid="pkwhere" />	
	</delete>
	
	<delete id="deleteDynamic" parameterType="hashmap">
		DELETE FROM t_dic_word
		<include refid="where" />
	</delete>

	<update id="update" parameterType="WordDomain">
		UPDATE t_dic_word	
		<include refid="update" />
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateWithoutNull" parameterType="WordDomain">
		UPDATE t_dic_word
		<include refid="updateWithoutNull"/>
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateDynamic" parameterType="hashmap">
		UPDATE t_dic_word	
		<include refid="update" />
		<include refid="where_old" />
	</update>
	
	<select id="loadDynamicPaging" parameterType="hashmap" resultType="WordDomain">
		SELECT 		
		<include refid="columns" />
		FROM t_dic_word
		<include refid="where" />
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
		<if test="_offset != null">LIMIT #{_offset},#{_limit}</if>	
	</select>
</mapper>