<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="phone1" class="com.ccb.acten.Phone"/>
	
	<bean id="phone2" class="com.ccb.acten.Phone">
		<constructor-arg name="brand" value="Huawei" />
		<constructor-arg name="type" value="P10"/>
	</bean>
	
	<bean id="phone3" class="com.ccb.acten.Phone">
		<property name="brand" value="Samsung"/>
		<property name="type" value="Note7"/>
	</bean>
	
	<bean id="phone4" class="com.ccb.acten.Phone">
		<constructor-arg value="Nokia"/>
		<property name="type" value="N9"/>
	</bean>

</beans>
