<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hawk.ecom.base.persist.mapperex.BsiExMapper">


	<select id="queryAllBrand" resultType="String">
		SELECT bsi_phone_brand
		FROM t_bas_bsi_phone_brand
		WHERE bsi_phone_brand_status = '1'
		ORDER BY object_order asc
	</select>
	
	<select id="queryProductByPhoneModelId" resultType="BsiProductExDomain">
		SELECT bsi_insurance_period_month AS "bsiInsurancePeriodMonth" ,
			bsi_grade AS "bsiGrade" ,
			bsi_product_id AS "bsiProductId" 
		FROM t_bas_bsi_product
		WHERE bsi_product_status = 1 
		AND bsi_product_id in (SELECT bsi_product_id 
			FROM t_bas_bsi_phone_product_map 
			WHERE bsi_phone_model_id = #{bsiPhoneModelId})
	</select>

</mapper>