<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hawk.ecom.query.persist.mapperex.SystemResourceExMapper">

	
	

	<select id="h5main"   resultType="SystemResourceExDomain">
		select node_name as "nodeName",
			node_value as "nodeValue",
			id as "id",
			pid as "pid",
			depth as "depth",
			node_status as "nodeStatus"
		from t_mal_system_resource 
		WHERE id_path like '/0/1%' and node_status = 100
		order by depth asc , object_order asc
	</select>
	
	
</mapper>