<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hawk.ecom.trans.persist.mapperex.OrderDetailExMapper">
	<update id="updateOrderDetailStatus">
		UPDATE t_tra_order_detail
		SET order_detail_status = #{orderDetailStatus},update_date = now()
		WHERE id = #{orderDetailId}
	</update>

	<select id="queryUncheckedSuccessOrderDetail"  resultType="Integer">
		SELECT id
		FROM t_tra_order_detail a
		WHERE a.order_detail_status = #{orderDetailStatus}
		AND a.update_date &lt; #{maxDate}
		AND NOT EXISTS (SELECT 1 
				FROM t_tra_order_detail_delivery_data b 
				WHERE a.id = b.order_detail_id 
				AND b.delivery_status IN 
				<foreach item="item" index="index" collection="deliveryStatusList" open="(" separator="," close=")">
				#{item}
				</foreach>)
		ORDER BY a.create_date asc
		LIMIT 0,#{limit}
	</select>
	
	<select id="queryUncheckedFailedOrderDetail"  resultType="Integer">
		SELECT id
		FROM t_tra_order_detail a
		WHERE a.order_detail_status = #{orderDetailStatus}
		AND a.update_date &lt; #{maxDate} 
		AND EXISTS (SELECT 1 
				FROM t_tra_order_detail_delivery_data b 
				WHERE a.id = b.order_detail_id 
				AND b.delivery_status IN 
				<foreach item="item" index="index" collection="deliveryStatusList" open="(" separator="," close=")">
				#{item}
				</foreach>)
		ORDER BY a.create_date asc
		LIMIT 0,#{limit}
	</select>

</mapper>