<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hawk.ecom.user.persist.mapper.UserMapper">

	<sql id="columns">	
				id AS "id" ,
		user_code AS "userCode" ,
		mobile_number AS "mobileNumber" ,
		is_mobile_verified AS "isMobileVerified" ,
		mobile_operator AS "mobileOperator" ,
		login_pwd AS "loginPwd" ,
		user_status AS "userStatus" ,
		user_status_change_cause AS "userStatusChangeCause" ,
		user_status_change_date AS "userStatusChangeDate" ,
		register_channel AS "registerChannel" ,
		user_nickname AS "userNickname" ,
		user_name AS "userName" ,
		user_sex AS "userSex" ,
		user_birthday AS "userBirthday" ,
		user_level AS "userLevel" ,
		user_activeness AS "userActiveness" ,
		register_ip AS "registerIp" ,
		user_picture AS "userPicture" ,
		user_type AS "userType" ,
		id_type AS "idType" ,
		id_number AS "idNumber" ,
		imei AS "imei" ,
		operating_system AS "operatingSystem" ,
		operating_system_version AS "operatingSystemVersion" ,
		device_brand AS "deviceBrand" ,
		device_model AS "deviceModel" ,
		user_agent AS "userAgent" ,
		last_access_date AS "lastAccessDate" ,
		create_date AS "createDate" ,
		update_date AS "updateDate" ,
		delete_date AS "deleteDate" ,
		user_account AS "userAccount" ,
		user_email AS "userEmail" ,
		is_email_verified AS "isEmailVerified" 
	</sql>
	
	<sql id="where">
		<trim prefix="WHERE" prefixOverrides="AND|OR">		 
			<if test="id != null"> AND id = #{id}  </if>
			<if test="userCode != null"> AND user_code = #{userCode}  </if>
			<if test="mobileNumber != null"> AND mobile_number = #{mobileNumber}  </if>
			<if test="isMobileVerified != null"> AND is_mobile_verified = #{isMobileVerified}  </if>
			<if test="mobileOperator != null"> AND mobile_operator = #{mobileOperator}  </if>
			<if test="loginPwd != null"> AND login_pwd = #{loginPwd}  </if>
			<if test="userStatus != null"> AND user_status = #{userStatus}  </if>
			<if test="userStatusChangeCause != null"> AND user_status_change_cause = #{userStatusChangeCause}  </if>
			<if test="userStatusChangeDate != null"> AND user_status_change_date = #{userStatusChangeDate}  </if>
			<if test="registerChannel != null"> AND register_channel = #{registerChannel}  </if>
			<if test="userNickname != null"> AND user_nickname = #{userNickname}  </if>
			<if test="userName != null"> AND user_name = #{userName}  </if>
			<if test="userSex != null"> AND user_sex = #{userSex}  </if>
			<if test="userBirthday != null"> AND user_birthday = #{userBirthday}  </if>
			<if test="userLevel != null"> AND user_level = #{userLevel}  </if>
			<if test="userActiveness != null"> AND user_activeness = #{userActiveness}  </if>
			<if test="registerIp != null"> AND register_ip = #{registerIp}  </if>
			<if test="userPicture != null"> AND user_picture = #{userPicture}  </if>
			<if test="userType != null"> AND user_type = #{userType}  </if>
			<if test="idType != null"> AND id_type = #{idType}  </if>
			<if test="idNumber != null"> AND id_number = #{idNumber}  </if>
			<if test="imei != null"> AND imei = #{imei}  </if>
			<if test="operatingSystem != null"> AND operating_system = #{operatingSystem}  </if>
			<if test="operatingSystemVersion != null"> AND operating_system_version = #{operatingSystemVersion}  </if>
			<if test="deviceBrand != null"> AND device_brand = #{deviceBrand}  </if>
			<if test="deviceModel != null"> AND device_model = #{deviceModel}  </if>
			<if test="userAgent != null"> AND user_agent = #{userAgent}  </if>
			<if test="lastAccessDate != null"> AND last_access_date = #{lastAccessDate}  </if>
			<if test="createDate != null"> AND create_date = #{createDate}  </if>
			<if test="updateDate != null"> AND update_date = #{updateDate}  </if>
			<if test="deleteDate != null"> AND delete_date = #{deleteDate}  </if>
			<if test="userAccount != null"> AND user_account = #{userAccount}  </if>
			<if test="userEmail != null"> AND user_email = #{userEmail}  </if>
			<if test="isEmailVerified != null"> AND is_email_verified = #{isEmailVerified}  </if>
		</trim>	
	</sql>
	
	<sql id="where_old">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			AND id = #{old_id}
			AND user_code = #{old_userCode}
			AND mobile_number = #{old_mobileNumber}
			AND is_mobile_verified = #{old_isMobileVerified}
			AND mobile_operator = #{old_mobileOperator}
			AND login_pwd = #{old_loginPwd}
			AND user_status = #{old_userStatus}
			AND user_status_change_cause = #{old_userStatusChangeCause}
			AND user_status_change_date = #{old_userStatusChangeDate}
			AND register_channel = #{old_registerChannel}
			AND user_nickname = #{old_userNickname}
			AND user_name = #{old_userName}
			AND user_sex = #{old_userSex}
			AND user_birthday = #{old_userBirthday}
			AND user_level = #{old_userLevel}
			AND user_activeness = #{old_userActiveness}
			AND register_ip = #{old_registerIp}
			AND user_picture = #{old_userPicture}
			AND user_type = #{old_userType}
			AND id_type = #{old_idType}
			AND id_number = #{old_idNumber}
			AND imei = #{old_imei}
			AND operating_system = #{old_operatingSystem}
			AND operating_system_version = #{old_operatingSystemVersion}
			AND device_brand = #{old_deviceBrand}
			AND device_model = #{old_deviceModel}
			AND user_agent = #{old_userAgent}
			AND last_access_date = #{old_lastAccessDate}
			AND create_date = #{old_createDate}
			AND update_date = #{old_updateDate}
			AND delete_date = #{old_deleteDate}
			AND user_account = #{old_userAccount}
			AND user_email = #{old_userEmail}
			AND is_email_verified = #{old_isEmailVerified}
		</trim>
	</sql>
	
	<sql id="update">
		<set>
			id = #{id},
			user_code = #{userCode},
			mobile_number = #{mobileNumber},
			is_mobile_verified = #{isMobileVerified},
			mobile_operator = #{mobileOperator},
			login_pwd = #{loginPwd},
			user_status = #{userStatus},
			user_status_change_cause = #{userStatusChangeCause},
			user_status_change_date = #{userStatusChangeDate},
			register_channel = #{registerChannel},
			user_nickname = #{userNickname},
			user_name = #{userName},
			user_sex = #{userSex},
			user_birthday = #{userBirthday},
			user_level = #{userLevel},
			user_activeness = #{userActiveness},
			register_ip = #{registerIp},
			user_picture = #{userPicture},
			user_type = #{userType},
			id_type = #{idType},
			id_number = #{idNumber},
			imei = #{imei},
			operating_system = #{operatingSystem},
			operating_system_version = #{operatingSystemVersion},
			device_brand = #{deviceBrand},
			device_model = #{deviceModel},
			user_agent = #{userAgent},
			last_access_date = #{lastAccessDate},
			create_date = #{createDate},
			update_date = #{updateDate},
			delete_date = #{deleteDate},
			user_account = #{userAccount},
			user_email = #{userEmail},
			is_email_verified = #{isEmailVerified},
		</set>
	</sql>
	
	<sql id="updateWithoutNull">
		<set>
			<if test="id != null">id = #{id},</if>
			<if test="userCode != null">user_code = #{userCode},</if>
			<if test="mobileNumber != null">mobile_number = #{mobileNumber},</if>
			<if test="isMobileVerified != null">is_mobile_verified = #{isMobileVerified},</if>
			<if test="mobileOperator != null">mobile_operator = #{mobileOperator},</if>
			<if test="loginPwd != null">login_pwd = #{loginPwd},</if>
			<if test="userStatus != null">user_status = #{userStatus},</if>
			<if test="userStatusChangeCause != null">user_status_change_cause = #{userStatusChangeCause},</if>
			<if test="userStatusChangeDate != null">user_status_change_date = #{userStatusChangeDate},</if>
			<if test="registerChannel != null">register_channel = #{registerChannel},</if>
			<if test="userNickname != null">user_nickname = #{userNickname},</if>
			<if test="userName != null">user_name = #{userName},</if>
			<if test="userSex != null">user_sex = #{userSex},</if>
			<if test="userBirthday != null">user_birthday = #{userBirthday},</if>
			<if test="userLevel != null">user_level = #{userLevel},</if>
			<if test="userActiveness != null">user_activeness = #{userActiveness},</if>
			<if test="registerIp != null">register_ip = #{registerIp},</if>
			<if test="userPicture != null">user_picture = #{userPicture},</if>
			<if test="userType != null">user_type = #{userType},</if>
			<if test="idType != null">id_type = #{idType},</if>
			<if test="idNumber != null">id_number = #{idNumber},</if>
			<if test="imei != null">imei = #{imei},</if>
			<if test="operatingSystem != null">operating_system = #{operatingSystem},</if>
			<if test="operatingSystemVersion != null">operating_system_version = #{operatingSystemVersion},</if>
			<if test="deviceBrand != null">device_brand = #{deviceBrand},</if>
			<if test="deviceModel != null">device_model = #{deviceModel},</if>
			<if test="userAgent != null">user_agent = #{userAgent},</if>
			<if test="lastAccessDate != null">last_access_date = #{lastAccessDate},</if>
			<if test="createDate != null">create_date = #{createDate},</if>
			<if test="updateDate != null">update_date = #{updateDate},</if>
			<if test="deleteDate != null">delete_date = #{deleteDate},</if>
			<if test="userAccount != null">user_account = #{userAccount},</if>
			<if test="userEmail != null">user_email = #{userEmail},</if>
			<if test="isEmailVerified != null">is_email_verified = #{isEmailVerified},</if>
		</set>
	</sql>
	
	<sql id="pkwhere">
		<trim prefix="WHERE" prefixOverrides="AND">
			AND id = #{id}
		</trim>
	</sql>
	
	<select id="load"  resultType="UserDomain">
		SELECT 
		<include refid="columns" />
		FROM t_usr_user
		<include refid="pkwhere" />		
	</select>
	
	<select id="loadDynamic" parameterType="hashmap" resultType="UserDomain">
		SELECT 		
		<include refid="columns" />
		FROM t_usr_user
		<include refid="where" />
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
	</select>

	<select id="count"  parameterType="hashmap" resultType="integer">
		SELECT count(1) 
		FROM t_usr_user
		<include refid="where" />
	</select>
	
	<select id="countByPK"  resultType="integer">
		SELECT count(1) 
		FROM t_usr_user
		<include refid="pkwhere" />		
	</select>
	
	<insert id="insert"  parameterType="UserDomain">
		INSERT INTO t_usr_user (			
				id,				
				user_code,				
				mobile_number,				
				is_mobile_verified,				
				mobile_operator,				
				login_pwd,				
				user_status,				
				user_status_change_cause,				
				user_status_change_date,				
				register_channel,				
				user_nickname,				
				user_name,				
				user_sex,				
				user_birthday,				
				user_level,				
				user_activeness,				
				register_ip,				
				user_picture,				
				user_type,				
				id_type,				
				id_number,				
				imei,				
				operating_system,				
				operating_system_version,				
				device_brand,				
				device_model,				
				user_agent,				
				last_access_date,				
				create_date,				
				update_date,				
				delete_date,				
				user_account,				
				user_email,				
				is_email_verified				
		)		
		VALUES (	
			#{id},
			#{userCode},
			#{mobileNumber},
			#{isMobileVerified},
			#{mobileOperator},
			#{loginPwd},
			#{userStatus},
			#{userStatusChangeCause},
			#{userStatusChangeDate},
			#{registerChannel},
			#{userNickname},
			#{userName},
			#{userSex},
			#{userBirthday},
			#{userLevel},
			#{userActiveness},
			#{registerIp},
			#{userPicture},
			#{userType},
			#{idType},
			#{idNumber},
			#{imei},
			#{operatingSystem},
			#{operatingSystemVersion},
			#{deviceBrand},
			#{deviceModel},
			#{userAgent},
			#{lastAccessDate},
			#{createDate},
			#{updateDate},
			#{deleteDate},
			#{userAccount},
			#{userEmail},
			#{isEmailVerified}
		) 
	</insert>
	
	<delete id="delete" >
		DELETE FROM t_usr_user
		<include refid="pkwhere" />	
	</delete>
	
	<delete id="deleteDynamic" parameterType="hashmap">
		DELETE FROM t_usr_user
		<include refid="where" />
	</delete>

	<update id="update" parameterType="UserDomain">
		UPDATE t_usr_user	
		<include refid="update" />
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateWithoutNull" parameterType="UserDomain">
		UPDATE t_usr_user
		<include refid="updateWithoutNull"/>
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateDynamic" parameterType="hashmap">
		UPDATE t_usr_user	
		<include refid="update" />
		<include refid="where_old" />
	</update>
	
	<select id="loadDynamicPaging" parameterType="hashmap" resultType="UserDomain">
		SELECT 		
		<include refid="columns" />
		FROM t_usr_user
		<include refid="where" />
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
		<if test="_offset != null">LIMIT #{_offset},#{_limit}</if>	
	</select>
</mapper>