<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hawk.ecom.mall.persist.mapperex.SystemResourceExMapper">

	
	

	<select id="maxObjectOrder"   resultType="integer">
		SELECT max(object_order) 
		FROM t_mal_system_resource
		WHERE pid = #{pid}
	</select>
	
	
</mapper>