<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hawk.ecom.product.persist.mapper.CategoryMapper">

	<sql id="columns">	
				id AS "id" ,
		pid AS "pid" ,
		id_path AS "idPath" ,
		object_order AS "objectOrder" ,
		depth AS "depth" ,
		category_code AS "categoryCode" ,
		category_name AS "categoryName" ,
		category_status AS "categoryStatus" ,
		category_desc AS "categoryDesc" ,
		category_logo AS "categoryLogo" ,
		category_home_page AS "categoryHomePage" ,
		is_leaf AS "isLeaf" ,
		create_user_code AS "createUserCode" ,
		create_date AS "createDate" ,
		update_user_code AS "updateUserCode" ,
		update_date AS "updateDate" ,
		delete_user_code AS "deleteUserCode" ,
		delete_date AS "deleteDate" 
	</sql>
	
	<sql id="where">
		<trim prefix="WHERE" prefixOverrides="AND|OR">		 
			<if test="id != null"> AND id = #{id}  </if>
			<if test="pid != null"> AND pid = #{pid}  </if>
			<if test="idPath != null"> AND id_path = #{idPath}  </if>
			<if test="objectOrder != null"> AND object_order = #{objectOrder}  </if>
			<if test="depth != null"> AND depth = #{depth}  </if>
			<if test="categoryCode != null"> AND category_code = #{categoryCode}  </if>
			<if test="categoryName != null"> AND category_name = #{categoryName}  </if>
			<if test="categoryStatus != null"> AND category_status = #{categoryStatus}  </if>
			<if test="categoryDesc != null"> AND category_desc = #{categoryDesc}  </if>
			<if test="categoryLogo != null"> AND category_logo = #{categoryLogo}  </if>
			<if test="categoryHomePage != null"> AND category_home_page = #{categoryHomePage}  </if>
			<if test="isLeaf != null"> AND is_leaf = #{isLeaf}  </if>
			<if test="createUserCode != null"> AND create_user_code = #{createUserCode}  </if>
			<if test="createDate != null"> AND create_date = #{createDate}  </if>
			<if test="updateUserCode != null"> AND update_user_code = #{updateUserCode}  </if>
			<if test="updateDate != null"> AND update_date = #{updateDate}  </if>
			<if test="deleteUserCode != null"> AND delete_user_code = #{deleteUserCode}  </if>
			<if test="deleteDate != null"> AND delete_date = #{deleteDate}  </if>
		</trim>	
	</sql>
	
	<sql id="where_old">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			AND id = #{old_id}
			AND pid = #{old_pid}
			AND id_path = #{old_idPath}
			AND object_order = #{old_objectOrder}
			AND depth = #{old_depth}
			AND category_code = #{old_categoryCode}
			AND category_name = #{old_categoryName}
			AND category_status = #{old_categoryStatus}
			AND category_desc = #{old_categoryDesc}
			AND category_logo = #{old_categoryLogo}
			AND category_home_page = #{old_categoryHomePage}
			AND is_leaf = #{old_isLeaf}
			AND create_user_code = #{old_createUserCode}
			AND create_date = #{old_createDate}
			AND update_user_code = #{old_updateUserCode}
			AND update_date = #{old_updateDate}
			AND delete_user_code = #{old_deleteUserCode}
			AND delete_date = #{old_deleteDate}
		</trim>
	</sql>
	
	<sql id="update">
		<set>
			id = #{id},
			pid = #{pid},
			id_path = #{idPath},
			object_order = #{objectOrder},
			depth = #{depth},
			category_code = #{categoryCode},
			category_name = #{categoryName},
			category_status = #{categoryStatus},
			category_desc = #{categoryDesc},
			category_logo = #{categoryLogo},
			category_home_page = #{categoryHomePage},
			is_leaf = #{isLeaf},
			create_user_code = #{createUserCode},
			create_date = #{createDate},
			update_user_code = #{updateUserCode},
			update_date = #{updateDate},
			delete_user_code = #{deleteUserCode},
			delete_date = #{deleteDate},
		</set>
	</sql>
	
	<sql id="updateWithoutNull">
		<set>
			<if test="id != null">id = #{id},</if>
			<if test="pid != null">pid = #{pid},</if>
			<if test="idPath != null">id_path = #{idPath},</if>
			<if test="objectOrder != null">object_order = #{objectOrder},</if>
			<if test="depth != null">depth = #{depth},</if>
			<if test="categoryCode != null">category_code = #{categoryCode},</if>
			<if test="categoryName != null">category_name = #{categoryName},</if>
			<if test="categoryStatus != null">category_status = #{categoryStatus},</if>
			<if test="categoryDesc != null">category_desc = #{categoryDesc},</if>
			<if test="categoryLogo != null">category_logo = #{categoryLogo},</if>
			<if test="categoryHomePage != null">category_home_page = #{categoryHomePage},</if>
			<if test="isLeaf != null">is_leaf = #{isLeaf},</if>
			<if test="createUserCode != null">create_user_code = #{createUserCode},</if>
			<if test="createDate != null">create_date = #{createDate},</if>
			<if test="updateUserCode != null">update_user_code = #{updateUserCode},</if>
			<if test="updateDate != null">update_date = #{updateDate},</if>
			<if test="deleteUserCode != null">delete_user_code = #{deleteUserCode},</if>
			<if test="deleteDate != null">delete_date = #{deleteDate},</if>
		</set>
	</sql>
	
	<sql id="pkwhere">
		<trim prefix="WHERE" prefixOverrides="AND">
			AND id = #{id}
		</trim>
	</sql>
	
	<select id="load"  resultType="CategoryDomain">
		SELECT 
		<include refid="columns" />
		FROM t_prd_category
		<include refid="pkwhere" />		
	</select>
	
	<select id="loadDynamic" parameterType="hashmap" resultType="CategoryDomain">
		SELECT 		
		<include refid="columns" />
		FROM t_prd_category
		<include refid="where" />
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
	</select>

	<select id="count"  parameterType="hashmap" resultType="integer">
		SELECT count(1) 
		FROM t_prd_category
		<include refid="where" />
	</select>
	
	<select id="countByPK"  resultType="integer">
		SELECT count(1) 
		FROM t_prd_category
		<include refid="pkwhere" />		
	</select>
	
	<insert id="insert"  parameterType="CategoryDomain">
		INSERT INTO t_prd_category (			
				id,				
				pid,				
				id_path,				
				object_order,				
				depth,				
				category_code,				
				category_name,				
				category_status,				
				category_desc,				
				category_logo,				
				category_home_page,				
				is_leaf,				
				create_user_code,				
				create_date,				
				update_user_code,				
				update_date,				
				delete_user_code,				
				delete_date				
		)		
		VALUES (	
			#{id},
			#{pid},
			#{idPath},
			#{objectOrder},
			#{depth},
			#{categoryCode},
			#{categoryName},
			#{categoryStatus},
			#{categoryDesc},
			#{categoryLogo},
			#{categoryHomePage},
			#{isLeaf},
			#{createUserCode},
			#{createDate},
			#{updateUserCode},
			#{updateDate},
			#{deleteUserCode},
			#{deleteDate}
		) 
	</insert>
	
	<delete id="delete" >
		DELETE FROM t_prd_category
		<include refid="pkwhere" />	
	</delete>
	
	<delete id="deleteDynamic" parameterType="hashmap">
		DELETE FROM t_prd_category
		<include refid="where" />
	</delete>

	<update id="update" parameterType="CategoryDomain">
		UPDATE t_prd_category	
		<include refid="update" />
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateWithoutNull" parameterType="CategoryDomain">
		UPDATE t_prd_category
		<include refid="updateWithoutNull"/>
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateDynamic" parameterType="hashmap">
		UPDATE t_prd_category	
		<include refid="update" />
		<include refid="where_old" />
	</update>
	
	<select id="loadDynamicPaging" parameterType="hashmap" resultType="CategoryDomain">
		SELECT 		
		<include refid="columns" />
		FROM t_prd_category
		<include refid="where" />
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
		<if test="_offset != null">LIMIT #{_offset},#{_limit}</if>	
	</select>
</mapper>