<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hawk.ecom.product.persist.mapper.PicMapper">

	<sql id="columns">	
				id AS "id" ,
		sku_id AS "skuId" ,
		product_id AS "productId" ,
		store_code AS "storeCode" ,
		pic_name AS "picName" ,
		pic_memo AS "picMemo" ,
		pic_outer_id AS "picOuterId" ,
		pic_url AS "picUrl" ,
		pic_type AS "picType" ,
		object_order AS "objectOrder" ,
		create_user_code AS "createUserCode" ,
		create_date AS "createDate" ,
		update_user_code AS "updateUserCode" ,
		update_date AS "updateDate" ,
		delete_user_code AS "deleteUserCode" ,
		delete_date AS "deleteDate" 
	</sql>
	
	<sql id="where">
		<trim prefix="WHERE" prefixOverrides="AND|OR">		 
			<if test="id != null"> AND id = #{id}  </if>
			<if test="skuId != null"> AND sku_id = #{skuId}  </if>
			<if test="productId != null"> AND product_id = #{productId}  </if>
			<if test="storeCode != null"> AND store_code = #{storeCode}  </if>
			<if test="picName != null"> AND pic_name = #{picName}  </if>
			<if test="picMemo != null"> AND pic_memo = #{picMemo}  </if>
			<if test="picOuterId != null"> AND pic_outer_id = #{picOuterId}  </if>
			<if test="picUrl != null"> AND pic_url = #{picUrl}  </if>
			<if test="picType != null"> AND pic_type = #{picType}  </if>
			<if test="objectOrder != null"> AND object_order = #{objectOrder}  </if>
			<if test="createUserCode != null"> AND create_user_code = #{createUserCode}  </if>
			<if test="createDate != null"> AND create_date = #{createDate}  </if>
			<if test="updateUserCode != null"> AND update_user_code = #{updateUserCode}  </if>
			<if test="updateDate != null"> AND update_date = #{updateDate}  </if>
			<if test="deleteUserCode != null"> AND delete_user_code = #{deleteUserCode}  </if>
			<if test="deleteDate != null"> AND delete_date = #{deleteDate}  </if>
		</trim>	
	</sql>
	
	<sql id="where_old">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="id != null"> AND id = #{old_id}  </if>			
			<if test="skuId != null"> AND sku_id = #{old_skuId}  </if>			
			<if test="productId != null"> AND product_id = #{old_productId}  </if>			
			<if test="storeCode != null"> AND store_code = #{old_storeCode}  </if>			
			<if test="picName != null"> AND pic_name = #{old_picName}  </if>			
			<if test="picMemo != null"> AND pic_memo = #{old_picMemo}  </if>			
			<if test="picOuterId != null"> AND pic_outer_id = #{old_picOuterId}  </if>			
			<if test="picUrl != null"> AND pic_url = #{old_picUrl}  </if>			
			<if test="picType != null"> AND pic_type = #{old_picType}  </if>			
			<if test="objectOrder != null"> AND object_order = #{old_objectOrder}  </if>			
			<if test="createUserCode != null"> AND create_user_code = #{old_createUserCode}  </if>			
			<if test="createDate != null"> AND create_date = #{old_createDate}  </if>			
			<if test="updateUserCode != null"> AND update_user_code = #{old_updateUserCode}  </if>			
			<if test="updateDate != null"> AND update_date = #{old_updateDate}  </if>			
			<if test="deleteUserCode != null"> AND delete_user_code = #{old_deleteUserCode}  </if>			
			<if test="deleteDate != null"> AND delete_date = #{old_deleteDate}  </if>			
		</trim>
	</sql>
	
	<sql id="update">
		<set>
			id = #{id},
			sku_id = #{skuId},
			product_id = #{productId},
			store_code = #{storeCode},
			pic_name = #{picName},
			pic_memo = #{picMemo},
			pic_outer_id = #{picOuterId},
			pic_url = #{picUrl},
			pic_type = #{picType},
			object_order = #{objectOrder},
			create_user_code = #{createUserCode},
			create_date = #{createDate},
			update_user_code = #{updateUserCode},
			update_date = #{updateDate},
			delete_user_code = #{deleteUserCode},
			delete_date = #{deleteDate},
		</set>
	</sql>
	
	<sql id="updateWithoutNull">
		<set>
			<if test="id != null">id = #{id},</if>
			<if test="skuId != null">sku_id = #{skuId},</if>
			<if test="productId != null">product_id = #{productId},</if>
			<if test="storeCode != null">store_code = #{storeCode},</if>
			<if test="picName != null">pic_name = #{picName},</if>
			<if test="picMemo != null">pic_memo = #{picMemo},</if>
			<if test="picOuterId != null">pic_outer_id = #{picOuterId},</if>
			<if test="picUrl != null">pic_url = #{picUrl},</if>
			<if test="picType != null">pic_type = #{picType},</if>
			<if test="objectOrder != null">object_order = #{objectOrder},</if>
			<if test="createUserCode != null">create_user_code = #{createUserCode},</if>
			<if test="createDate != null">create_date = #{createDate},</if>
			<if test="updateUserCode != null">update_user_code = #{updateUserCode},</if>
			<if test="updateDate != null">update_date = #{updateDate},</if>
			<if test="deleteUserCode != null">delete_user_code = #{deleteUserCode},</if>
			<if test="deleteDate != null">delete_date = #{deleteDate},</if>
		</set>
	</sql>
	
	<sql id="pkwhere">
		<trim prefix="WHERE" prefixOverrides="AND">
			AND id = #{id}
		</trim>
	</sql>
	
	<select id="load"  resultType="PicDomain">
		SELECT 
		<include refid="columns" />
		FROM t_prd_pic
		<include refid="pkwhere" />		
	</select>
	
	<select id="loadDynamic" parameterType="hashmap" resultType="PicDomain">
		SELECT 		
		<include refid="columns" />
		FROM t_prd_pic
		<include refid="where" />
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
	</select>

	<select id="count"  parameterType="hashmap" resultType="integer">
		SELECT count(1) 
		FROM t_prd_pic
		<include refid="where" />
	</select>
	
	<select id="countByPK"  resultType="integer">
		SELECT count(1) 
		FROM t_prd_pic
		<include refid="pkwhere" />		
	</select>
	
	<insert id="insert"  parameterType="PicDomain">
		INSERT INTO t_prd_pic (			
				id,				
				sku_id,				
				product_id,				
				store_code,				
				pic_name,				
				pic_memo,				
				pic_outer_id,				
				pic_url,				
				pic_type,				
				object_order,				
				create_user_code,				
				create_date,				
				update_user_code,				
				update_date,				
				delete_user_code,				
				delete_date				
		)		
		VALUES (	
			#{id},
			#{skuId},
			#{productId},
			#{storeCode},
			#{picName},
			#{picMemo},
			#{picOuterId},
			#{picUrl},
			#{picType},
			#{objectOrder},
			#{createUserCode},
			#{createDate},
			#{updateUserCode},
			#{updateDate},
			#{deleteUserCode},
			#{deleteDate}
		) 
	</insert>
	
	<delete id="delete" >
		DELETE FROM t_prd_pic
		<include refid="pkwhere" />	
	</delete>
	
	<delete id="deleteDynamic" parameterType="hashmap">
		DELETE FROM t_prd_pic
		<include refid="where" />
	</delete>

	<update id="update" parameterType="PicDomain">
		UPDATE t_prd_pic	
		<include refid="update" />
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateWithoutNull" parameterType="PicDomain">
		UPDATE t_prd_pic
		<include refid="updateWithoutNull"/>
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateDynamicWithoutNull" parameterType="hashmap">
		UPDATE t_prd_pic	
		<include refid="updateWithoutNull" />
		<include refid="where_old" />
	</update>
	
	<select id="loadDynamicPaging" parameterType="hashmap" resultType="PicDomain">
		SELECT 		
		<include refid="columns" />
		FROM t_prd_pic
		<include refid="where" />
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
		<if test="_offset != null">LIMIT #{_offset},#{_limit}</if>	
	</select>
</mapper>