<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hawk.ecom.product.persist.mapper.ProductHistoryMapper">

	<sql id="columns">	
				id AS "id" ,
		category_id AS "categoryId" ,
		store_code AS "storeCode" ,
		product_code AS "productCode" ,
		product_name AS "productName" ,
		product_key_attr_value_ids AS "productKeyAttrValueIds" ,
		product_key_attr_value_values AS "productKeyAttrValueValues" ,
		product_sku_attr_name_ids AS "productSkuAttrNameIds" ,
		product_status AS "productStatus" ,
		product_home_page AS "productHomePage" ,
		thumbnail AS "thumbnail" ,
		product_desc AS "productDesc" ,
		product_memo AS "productMemo" ,
		product_min_price AS "productMinPrice" ,
		product_max_price AS "productMaxPrice" ,
		on_sale_stdt AS "onSaleStdt" ,
		on_sale_endt AS "onSaleEndt" ,
		is_virtual AS "isVirtual" ,
		delivery_type AS "deliveryType" ,
		is_delivery_need_extra_data AS "isDeliveryNeedExtraData" ,
		product_version AS "productVersion" ,
		create_user_code AS "createUserCode" ,
		create_date AS "createDate" ,
		update_user_code AS "updateUserCode" ,
		update_date AS "updateDate" ,
		delete_user_code AS "deleteUserCode" ,
		delete_date AS "deleteDate" 
	</sql>
	
	<sql id="where">
		<trim prefix="WHERE" prefixOverrides="AND|OR">		 
			<if test="id != null"> AND id = #{id}  </if>
			<if test="categoryId != null"> AND category_id = #{categoryId}  </if>
			<if test="storeCode != null"> AND store_code = #{storeCode}  </if>
			<if test="productCode != null"> AND product_code = #{productCode}  </if>
			<if test="productName != null"> AND product_name = #{productName}  </if>
			<if test="productKeyAttrValueIds != null"> AND product_key_attr_value_ids = #{productKeyAttrValueIds}  </if>
			<if test="productKeyAttrValueValues != null"> AND product_key_attr_value_values = #{productKeyAttrValueValues}  </if>
			<if test="productSkuAttrNameIds != null"> AND product_sku_attr_name_ids = #{productSkuAttrNameIds}  </if>
			<if test="productStatus != null"> AND product_status = #{productStatus}  </if>
			<if test="productHomePage != null"> AND product_home_page = #{productHomePage}  </if>
			<if test="thumbnail != null"> AND thumbnail = #{thumbnail}  </if>
			<if test="productDesc != null"> AND product_desc = #{productDesc}  </if>
			<if test="productMemo != null"> AND product_memo = #{productMemo}  </if>
			<if test="productMinPrice != null"> AND product_min_price = #{productMinPrice}  </if>
			<if test="productMaxPrice != null"> AND product_max_price = #{productMaxPrice}  </if>
			<if test="onSaleStdt != null"> AND on_sale_stdt = #{onSaleStdt}  </if>
			<if test="onSaleEndt != null"> AND on_sale_endt = #{onSaleEndt}  </if>
			<if test="isVirtual != null"> AND is_virtual = #{isVirtual}  </if>
			<if test="deliveryType != null"> AND delivery_type = #{deliveryType}  </if>
			<if test="isDeliveryNeedExtraData != null"> AND is_delivery_need_extra_data = #{isDeliveryNeedExtraData}  </if>
			<if test="productVersion != null"> AND product_version = #{productVersion}  </if>
			<if test="createUserCode != null"> AND create_user_code = #{createUserCode}  </if>
			<if test="createDate != null"> AND create_date = #{createDate}  </if>
			<if test="updateUserCode != null"> AND update_user_code = #{updateUserCode}  </if>
			<if test="updateDate != null"> AND update_date = #{updateDate}  </if>
			<if test="deleteUserCode != null"> AND delete_user_code = #{deleteUserCode}  </if>
			<if test="deleteDate != null"> AND delete_date = #{deleteDate}  </if>
		</trim>	
	</sql>
	
	<sql id="where_old">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			AND id = #{old_id}
			AND category_id = #{old_categoryId}
			AND store_code = #{old_storeCode}
			AND product_code = #{old_productCode}
			AND product_name = #{old_productName}
			AND product_key_attr_value_ids = #{old_productKeyAttrValueIds}
			AND product_key_attr_value_values = #{old_productKeyAttrValueValues}
			AND product_sku_attr_name_ids = #{old_productSkuAttrNameIds}
			AND product_status = #{old_productStatus}
			AND product_home_page = #{old_productHomePage}
			AND thumbnail = #{old_thumbnail}
			AND product_desc = #{old_productDesc}
			AND product_memo = #{old_productMemo}
			AND product_min_price = #{old_productMinPrice}
			AND product_max_price = #{old_productMaxPrice}
			AND on_sale_stdt = #{old_onSaleStdt}
			AND on_sale_endt = #{old_onSaleEndt}
			AND is_virtual = #{old_isVirtual}
			AND delivery_type = #{old_deliveryType}
			AND is_delivery_need_extra_data = #{old_isDeliveryNeedExtraData}
			AND product_version = #{old_productVersion}
			AND create_user_code = #{old_createUserCode}
			AND create_date = #{old_createDate}
			AND update_user_code = #{old_updateUserCode}
			AND update_date = #{old_updateDate}
			AND delete_user_code = #{old_deleteUserCode}
			AND delete_date = #{old_deleteDate}
		</trim>
	</sql>
	
	<sql id="update">
		<set>
			id = #{id},
			category_id = #{categoryId},
			store_code = #{storeCode},
			product_code = #{productCode},
			product_name = #{productName},
			product_key_attr_value_ids = #{productKeyAttrValueIds},
			product_key_attr_value_values = #{productKeyAttrValueValues},
			product_sku_attr_name_ids = #{productSkuAttrNameIds},
			product_status = #{productStatus},
			product_home_page = #{productHomePage},
			thumbnail = #{thumbnail},
			product_desc = #{productDesc},
			product_memo = #{productMemo},
			product_min_price = #{productMinPrice},
			product_max_price = #{productMaxPrice},
			on_sale_stdt = #{onSaleStdt},
			on_sale_endt = #{onSaleEndt},
			is_virtual = #{isVirtual},
			delivery_type = #{deliveryType},
			is_delivery_need_extra_data = #{isDeliveryNeedExtraData},
			product_version = #{productVersion},
			create_user_code = #{createUserCode},
			create_date = #{createDate},
			update_user_code = #{updateUserCode},
			update_date = #{updateDate},
			delete_user_code = #{deleteUserCode},
			delete_date = #{deleteDate},
		</set>
	</sql>
	
	<sql id="updateWithoutNull">
		<set>
			<if test="id != null">id = #{id},</if>
			<if test="categoryId != null">category_id = #{categoryId},</if>
			<if test="storeCode != null">store_code = #{storeCode},</if>
			<if test="productCode != null">product_code = #{productCode},</if>
			<if test="productName != null">product_name = #{productName},</if>
			<if test="productKeyAttrValueIds != null">product_key_attr_value_ids = #{productKeyAttrValueIds},</if>
			<if test="productKeyAttrValueValues != null">product_key_attr_value_values = #{productKeyAttrValueValues},</if>
			<if test="productSkuAttrNameIds != null">product_sku_attr_name_ids = #{productSkuAttrNameIds},</if>
			<if test="productStatus != null">product_status = #{productStatus},</if>
			<if test="productHomePage != null">product_home_page = #{productHomePage},</if>
			<if test="thumbnail != null">thumbnail = #{thumbnail},</if>
			<if test="productDesc != null">product_desc = #{productDesc},</if>
			<if test="productMemo != null">product_memo = #{productMemo},</if>
			<if test="productMinPrice != null">product_min_price = #{productMinPrice},</if>
			<if test="productMaxPrice != null">product_max_price = #{productMaxPrice},</if>
			<if test="onSaleStdt != null">on_sale_stdt = #{onSaleStdt},</if>
			<if test="onSaleEndt != null">on_sale_endt = #{onSaleEndt},</if>
			<if test="isVirtual != null">is_virtual = #{isVirtual},</if>
			<if test="deliveryType != null">delivery_type = #{deliveryType},</if>
			<if test="isDeliveryNeedExtraData != null">is_delivery_need_extra_data = #{isDeliveryNeedExtraData},</if>
			<if test="productVersion != null">product_version = #{productVersion},</if>
			<if test="createUserCode != null">create_user_code = #{createUserCode},</if>
			<if test="createDate != null">create_date = #{createDate},</if>
			<if test="updateUserCode != null">update_user_code = #{updateUserCode},</if>
			<if test="updateDate != null">update_date = #{updateDate},</if>
			<if test="deleteUserCode != null">delete_user_code = #{deleteUserCode},</if>
			<if test="deleteDate != null">delete_date = #{deleteDate},</if>
		</set>
	</sql>
	
	<sql id="pkwhere">
		<trim prefix="WHERE" prefixOverrides="AND">
			AND id = #{id}
			AND product_version = #{productVersion}
		</trim>
	</sql>
	
	<select id="load"  resultType="ProductHistoryDomain">
		SELECT 
		<include refid="columns" />
		FROM t_prd_product_history
		<include refid="pkwhere" />		
	</select>
	
	<select id="loadDynamic" parameterType="hashmap" resultType="ProductHistoryDomain">
		SELECT 		
		<include refid="columns" />
		FROM t_prd_product_history
		<include refid="where" />
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
	</select>

	<select id="count"  parameterType="hashmap" resultType="integer">
		SELECT count(1) 
		FROM t_prd_product_history
		<include refid="where" />
	</select>
	
	<select id="countByPK"  resultType="integer">
		SELECT count(1) 
		FROM t_prd_product_history
		<include refid="pkwhere" />		
	</select>
	
	<insert id="insert"  parameterType="ProductHistoryDomain">
		INSERT INTO t_prd_product_history (			
				id,				
				category_id,				
				store_code,				
				product_code,				
				product_name,				
				product_key_attr_value_ids,				
				product_key_attr_value_values,				
				product_sku_attr_name_ids,				
				product_status,				
				product_home_page,				
				thumbnail,				
				product_desc,				
				product_memo,				
				product_min_price,				
				product_max_price,				
				on_sale_stdt,				
				on_sale_endt,				
				is_virtual,				
				delivery_type,				
				is_delivery_need_extra_data,				
				product_version,				
				create_user_code,				
				create_date,				
				update_user_code,				
				update_date,				
				delete_user_code,				
				delete_date				
		)		
		VALUES (	
			#{id},
			#{categoryId},
			#{storeCode},
			#{productCode},
			#{productName},
			#{productKeyAttrValueIds},
			#{productKeyAttrValueValues},
			#{productSkuAttrNameIds},
			#{productStatus},
			#{productHomePage},
			#{thumbnail},
			#{productDesc},
			#{productMemo},
			#{productMinPrice},
			#{productMaxPrice},
			#{onSaleStdt},
			#{onSaleEndt},
			#{isVirtual},
			#{deliveryType},
			#{isDeliveryNeedExtraData},
			#{productVersion},
			#{createUserCode},
			#{createDate},
			#{updateUserCode},
			#{updateDate},
			#{deleteUserCode},
			#{deleteDate}
		) 
	</insert>
	
	<delete id="delete" >
		DELETE FROM t_prd_product_history
		<include refid="pkwhere" />	
	</delete>
	
	<delete id="deleteDynamic" parameterType="hashmap">
		DELETE FROM t_prd_product_history
		<include refid="where" />
	</delete>

	<update id="update" parameterType="ProductHistoryDomain">
		UPDATE t_prd_product_history	
		<include refid="update" />
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateWithoutNull" parameterType="ProductHistoryDomain">
		UPDATE t_prd_product_history
		<include refid="updateWithoutNull"/>
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateDynamic" parameterType="hashmap">
		UPDATE t_prd_product_history	
		<include refid="update" />
		<include refid="where_old" />
	</update>
	
	<select id="loadDynamicPaging" parameterType="hashmap" resultType="ProductHistoryDomain">
		SELECT 		
		<include refid="columns" />
		FROM t_prd_product_history
		<include refid="where" />
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
		<if test="_offset != null">LIMIT #{_offset},#{_limit}</if>	
	</select>
</mapper>