<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hawk.ecom.product.persist.mapper.SmallNumberSequenceMapper">

	<sql id="columns">	
				stub AS "stub" ,
		id AS "id" 
	</sql>
	
	<sql id="where">
		<trim prefix="WHERE" prefixOverrides="AND|OR">		 
			<if test="stub != null"> AND stub = #{stub}  </if>
			<if test="id != null"> AND id = #{id}  </if>
		</trim>	
	</sql>
	
	<sql id="where_old">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="old_stub != null"> AND stub = #{old_stub}  </if>			
			<if test="old_id != null"> AND id = #{old_id}  </if>			
		</trim>
	</sql>
	
	<sql id="update">
		<set>
			stub = #{stub},
			id = #{id},
		</set>
	</sql>
	
	<sql id="updateWithoutNull">
		<set>
			<if test="stub != null">stub = #{stub},</if>
			<if test="id != null">id = #{id},</if>
		</set>
	</sql>
	
	<sql id="pkwhere">
		<trim prefix="WHERE" prefixOverrides="AND">
			AND id = #{id}
		</trim>
	</sql>
	
	<select id="load"  resultType="SmallNumberSequenceDomain">
		SELECT 
		<include refid="columns" />
		FROM t_prd_small_number_sequence
		<include refid="pkwhere" />		
	</select>
	
	<select id="loadDynamic" parameterType="hashmap" resultType="SmallNumberSequenceDomain">
		SELECT 		
		<include refid="columns" />
		FROM t_prd_small_number_sequence
		<include refid="where" />
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
	</select>

	<select id="count"  parameterType="hashmap" resultType="integer">
		SELECT count(1) 
		FROM t_prd_small_number_sequence
		<include refid="where" />
	</select>
	
	<select id="countByPK"  resultType="integer">
		SELECT count(1) 
		FROM t_prd_small_number_sequence
		<include refid="pkwhere" />		
	</select>
	
	<insert id="insert"  parameterType="SmallNumberSequenceDomain">
		INSERT INTO t_prd_small_number_sequence (			
				stub,				
				id				
		)		
		VALUES (	
			#{stub},
			#{id}
		) 
	</insert>
	
	<delete id="delete" >
		DELETE FROM t_prd_small_number_sequence
		<include refid="pkwhere" />	
	</delete>
	
	<delete id="deleteDynamic" parameterType="hashmap">
		DELETE FROM t_prd_small_number_sequence
		<include refid="where" />
	</delete>

	<update id="update" parameterType="SmallNumberSequenceDomain">
		UPDATE t_prd_small_number_sequence	
		<include refid="update" />
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateWithoutNull" parameterType="SmallNumberSequenceDomain">
		UPDATE t_prd_small_number_sequence
		<include refid="updateWithoutNull"/>
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateDynamicWithoutNull" parameterType="hashmap">
		UPDATE t_prd_small_number_sequence	
		<include refid="updateWithoutNull" />
		<include refid="where_old" />
	</update>
	
	<select id="loadDynamicPaging" parameterType="hashmap" resultType="SmallNumberSequenceDomain">
		SELECT 		
		<include refid="columns" />
		FROM t_prd_small_number_sequence
		<include refid="where" />
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
		<if test="_offset != null">LIMIT #{_offset},#{_limit}</if>	
	</select>
</mapper>