<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hawk.ecom.trans.persist.mapperex.OrderExMapper">
	
	<select id="queryUnpaidOvertimeOrder" resultType="Integer">
		SELECT id as "id"
		FROM t_tra_order
		WHERE order_status = #{orderStatus}
		AND order_pay_expire_time &lt;  #{threashold}
		ORDER BY order_pay_expire_time ASC
		LIMIT 0 , #{limit} 
	</select>
	
</mapper>