<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hawk.ecom.trans.persist.mapperex.OrderExMapper">

	<select id="queryUnpaidOvertimeOrder" resultType="Integer">
		SELECT id as "id"
		FROM t_tra_order
		WHERE order_status = #{orderStatus}
		AND order_pay_expire_time &lt;
		#{threshold}
		ORDER BY order_pay_expire_time ASC
		LIMIT 0 , #{limit}
	</select>

	<select id="queryUncheckedSuccessOrder" resultType="Integer">
		SELECT a.id
		FROM t_tra_order a
		WHERE a.order_status = #{orderStatus}
		AND a.update_data &lt; #{threshold}
		AND NOT EXISTS (SELECT 1
		FROM t_tra_order_detail b
		WHERE a.id = b.order_id
		AND b.order_detail_status IN
		<foreach item="item" index="index" collection="orderDetailStatusList" open="(" separator="," close=")">
			#{item}
		</foreach>
		)
		ORDER BY update_date ASC
		LIMIT 0 , #{limit}
	</select>
	
	<select id="queryUncheckedFailedOrder" resultType="Integer">
		SELECT a.id
		FROM t_tra_order a
		WHERE a.order_status = #{orderStatus}
		AND a.update_data &lt; #{threshold}
		AND EXISTS (SELECT 1
		FROM t_tra_order_detail b
		WHERE a.id = b.order_id
		AND b.order_detail_status IN
		<foreach item="item" index="index" collection="orderDetailStatusList" open="(" separator="," close=")">
			#{item}
		</foreach>
		)
		ORDER BY update_date ASC
		LIMIT 0 , #{limit}
	</select>
</mapper>