<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hawk.ecom.svp.persist.mapper.BsiOrderDetailMapper">

	<sql id="columns">	
				id AS "id" ,
		order_code AS "orderCode" ,
		supplier_code AS "supplierCode" ,
		store_code AS "storeCode" ,
		user_code AS "userCode" ,
		goods_code AS "goodsCode" ,
		goods_name AS "goodsName" ,
		goods_post_deal AS "goodsPostDeal" ,
		bsi_task_code AS "bsiTaskCode" ,
		bsi_task_status AS "bsiTaskStatus" ,
		bsi_phone_model_id AS "bsiPhoneModelId" ,
		bsi_product_id AS "bsiProductId" ,
		imei AS "imei" ,
		bsi_benef_id_typ AS "bsiBenefIdTyp" ,
		bsi_benef_id_number AS "bsiBenefIdNumber" ,
		bsi_benef_birthday AS "bsiBenefBirthday" ,
		bsi_benef_sex AS "bsiBenefSex" ,
		bsi_benef_name AS "bsiBenefName" ,
		bsi_benef_mobile_number AS "bsiBenefMobileNumber" ,
		bsi_cash_coupon_code AS "bsiCashCouponCode" ,
		promotion_activity_desc AS "promotionActivityDesc" ,
		promotion_activity_code AS "promotionActivityCode" ,
		bsi_insurance_code AS "bsiInsuranceCode" ,
		exec_times AS "execTimes" ,
		max_exec_times AS "maxExecTimes" ,
		last_exec_err_code AS "lastExecErrCode" ,
		last_exec_err_msg AS "lastExecErrMsg" ,
		last_exec_date AS "lastExecDate" ,
		schedule_exec_date AS "scheduleExecDate" ,
		current_exec_computer AS "currentExecComputer" ,
		current_exec_process_id AS "currentExecProcessId" ,
		current_exec_start_date AS "currentExecStartDate" ,
		create_date AS "createDate" ,
		update_date AS "updateDate" ,
		delete_date AS "deleteDate" 
	</sql>
	
	<sql id="where">
		<trim prefix="WHERE" prefixOverrides="AND|OR">		 
			<if test="id != null"> AND id = #{id}  </if>
			<if test="orderCode != null"> AND order_code = #{orderCode}  </if>
			<if test="supplierCode != null"> AND supplier_code = #{supplierCode}  </if>
			<if test="storeCode != null"> AND store_code = #{storeCode}  </if>
			<if test="userCode != null"> AND user_code = #{userCode}  </if>
			<if test="goodsCode != null"> AND goods_code = #{goodsCode}  </if>
			<if test="goodsName != null"> AND goods_name = #{goodsName}  </if>
			<if test="goodsPostDeal != null"> AND goods_post_deal = #{goodsPostDeal}  </if>
			<if test="bsiTaskCode != null"> AND bsi_task_code = #{bsiTaskCode}  </if>
			<if test="bsiTaskStatus != null"> AND bsi_task_status = #{bsiTaskStatus}  </if>
			<if test="bsiPhoneModelId != null"> AND bsi_phone_model_id = #{bsiPhoneModelId}  </if>
			<if test="bsiProductId != null"> AND bsi_product_id = #{bsiProductId}  </if>
			<if test="imei != null"> AND imei = #{imei}  </if>
			<if test="bsiBenefIdTyp != null"> AND bsi_benef_id_typ = #{bsiBenefIdTyp}  </if>
			<if test="bsiBenefIdNumber != null"> AND bsi_benef_id_number = #{bsiBenefIdNumber}  </if>
			<if test="bsiBenefBirthday != null"> AND bsi_benef_birthday = #{bsiBenefBirthday}  </if>
			<if test="bsiBenefSex != null"> AND bsi_benef_sex = #{bsiBenefSex}  </if>
			<if test="bsiBenefName != null"> AND bsi_benef_name = #{bsiBenefName}  </if>
			<if test="bsiBenefMobileNumber != null"> AND bsi_benef_mobile_number = #{bsiBenefMobileNumber}  </if>
			<if test="bsiCashCouponCode != null"> AND bsi_cash_coupon_code = #{bsiCashCouponCode}  </if>
			<if test="promotionActivityDesc != null"> AND promotion_activity_desc = #{promotionActivityDesc}  </if>
			<if test="promotionActivityCode != null"> AND promotion_activity_code = #{promotionActivityCode}  </if>
			<if test="bsiInsuranceCode != null"> AND bsi_insurance_code = #{bsiInsuranceCode}  </if>
			<if test="execTimes != null"> AND exec_times = #{execTimes}  </if>
			<if test="maxExecTimes != null"> AND max_exec_times = #{maxExecTimes}  </if>
			<if test="lastExecErrCode != null"> AND last_exec_err_code = #{lastExecErrCode}  </if>
			<if test="lastExecErrMsg != null"> AND last_exec_err_msg = #{lastExecErrMsg}  </if>
			<if test="lastExecDate != null"> AND last_exec_date = #{lastExecDate}  </if>
			<if test="scheduleExecDate != null"> AND schedule_exec_date = #{scheduleExecDate}  </if>
			<if test="currentExecComputer != null"> AND current_exec_computer = #{currentExecComputer}  </if>
			<if test="currentExecProcessId != null"> AND current_exec_process_id = #{currentExecProcessId}  </if>
			<if test="currentExecStartDate != null"> AND current_exec_start_date = #{currentExecStartDate}  </if>
			<if test="createDate != null"> AND create_date = #{createDate}  </if>
			<if test="updateDate != null"> AND update_date = #{updateDate}  </if>
			<if test="deleteDate != null"> AND delete_date = #{deleteDate}  </if>
		</trim>	
	</sql>
	
	<sql id="where_old">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			AND id = #{old_id}
			AND order_code = #{old_orderCode}
			AND supplier_code = #{old_supplierCode}
			AND store_code = #{old_storeCode}
			AND user_code = #{old_userCode}
			AND goods_code = #{old_goodsCode}
			AND goods_name = #{old_goodsName}
			AND goods_post_deal = #{old_goodsPostDeal}
			AND bsi_task_code = #{old_bsiTaskCode}
			AND bsi_task_status = #{old_bsiTaskStatus}
			AND bsi_phone_model_id = #{old_bsiPhoneModelId}
			AND bsi_product_id = #{old_bsiProductId}
			AND imei = #{old_imei}
			AND bsi_benef_id_typ = #{old_bsiBenefIdTyp}
			AND bsi_benef_id_number = #{old_bsiBenefIdNumber}
			AND bsi_benef_birthday = #{old_bsiBenefBirthday}
			AND bsi_benef_sex = #{old_bsiBenefSex}
			AND bsi_benef_name = #{old_bsiBenefName}
			AND bsi_benef_mobile_number = #{old_bsiBenefMobileNumber}
			AND bsi_cash_coupon_code = #{old_bsiCashCouponCode}
			AND promotion_activity_desc = #{old_promotionActivityDesc}
			AND promotion_activity_code = #{old_promotionActivityCode}
			AND bsi_insurance_code = #{old_bsiInsuranceCode}
			AND exec_times = #{old_execTimes}
			AND max_exec_times = #{old_maxExecTimes}
			AND last_exec_err_code = #{old_lastExecErrCode}
			AND last_exec_err_msg = #{old_lastExecErrMsg}
			AND last_exec_date = #{old_lastExecDate}
			AND schedule_exec_date = #{old_scheduleExecDate}
			AND current_exec_computer = #{old_currentExecComputer}
			AND current_exec_process_id = #{old_currentExecProcessId}
			AND current_exec_start_date = #{old_currentExecStartDate}
			AND create_date = #{old_createDate}
			AND update_date = #{old_updateDate}
			AND delete_date = #{old_deleteDate}
		</trim>
	</sql>
	
	<sql id="update">
		<set>
			id = #{id},
			order_code = #{orderCode},
			supplier_code = #{supplierCode},
			store_code = #{storeCode},
			user_code = #{userCode},
			goods_code = #{goodsCode},
			goods_name = #{goodsName},
			goods_post_deal = #{goodsPostDeal},
			bsi_task_code = #{bsiTaskCode},
			bsi_task_status = #{bsiTaskStatus},
			bsi_phone_model_id = #{bsiPhoneModelId},
			bsi_product_id = #{bsiProductId},
			imei = #{imei},
			bsi_benef_id_typ = #{bsiBenefIdTyp},
			bsi_benef_id_number = #{bsiBenefIdNumber},
			bsi_benef_birthday = #{bsiBenefBirthday},
			bsi_benef_sex = #{bsiBenefSex},
			bsi_benef_name = #{bsiBenefName},
			bsi_benef_mobile_number = #{bsiBenefMobileNumber},
			bsi_cash_coupon_code = #{bsiCashCouponCode},
			promotion_activity_desc = #{promotionActivityDesc},
			promotion_activity_code = #{promotionActivityCode},
			bsi_insurance_code = #{bsiInsuranceCode},
			exec_times = #{execTimes},
			max_exec_times = #{maxExecTimes},
			last_exec_err_code = #{lastExecErrCode},
			last_exec_err_msg = #{lastExecErrMsg},
			last_exec_date = #{lastExecDate},
			schedule_exec_date = #{scheduleExecDate},
			current_exec_computer = #{currentExecComputer},
			current_exec_process_id = #{currentExecProcessId},
			current_exec_start_date = #{currentExecStartDate},
			create_date = #{createDate},
			update_date = #{updateDate},
			delete_date = #{deleteDate},
		</set>
	</sql>
	
	<sql id="updateWithoutNull">
		<set>
			<if test="id != null">id = #{id},</if>
			<if test="orderCode != null">order_code = #{orderCode},</if>
			<if test="supplierCode != null">supplier_code = #{supplierCode},</if>
			<if test="storeCode != null">store_code = #{storeCode},</if>
			<if test="userCode != null">user_code = #{userCode},</if>
			<if test="goodsCode != null">goods_code = #{goodsCode},</if>
			<if test="goodsName != null">goods_name = #{goodsName},</if>
			<if test="goodsPostDeal != null">goods_post_deal = #{goodsPostDeal},</if>
			<if test="bsiTaskCode != null">bsi_task_code = #{bsiTaskCode},</if>
			<if test="bsiTaskStatus != null">bsi_task_status = #{bsiTaskStatus},</if>
			<if test="bsiPhoneModelId != null">bsi_phone_model_id = #{bsiPhoneModelId},</if>
			<if test="bsiProductId != null">bsi_product_id = #{bsiProductId},</if>
			<if test="imei != null">imei = #{imei},</if>
			<if test="bsiBenefIdTyp != null">bsi_benef_id_typ = #{bsiBenefIdTyp},</if>
			<if test="bsiBenefIdNumber != null">bsi_benef_id_number = #{bsiBenefIdNumber},</if>
			<if test="bsiBenefBirthday != null">bsi_benef_birthday = #{bsiBenefBirthday},</if>
			<if test="bsiBenefSex != null">bsi_benef_sex = #{bsiBenefSex},</if>
			<if test="bsiBenefName != null">bsi_benef_name = #{bsiBenefName},</if>
			<if test="bsiBenefMobileNumber != null">bsi_benef_mobile_number = #{bsiBenefMobileNumber},</if>
			<if test="bsiCashCouponCode != null">bsi_cash_coupon_code = #{bsiCashCouponCode},</if>
			<if test="promotionActivityDesc != null">promotion_activity_desc = #{promotionActivityDesc},</if>
			<if test="promotionActivityCode != null">promotion_activity_code = #{promotionActivityCode},</if>
			<if test="bsiInsuranceCode != null">bsi_insurance_code = #{bsiInsuranceCode},</if>
			<if test="execTimes != null">exec_times = #{execTimes},</if>
			<if test="maxExecTimes != null">max_exec_times = #{maxExecTimes},</if>
			<if test="lastExecErrCode != null">last_exec_err_code = #{lastExecErrCode},</if>
			<if test="lastExecErrMsg != null">last_exec_err_msg = #{lastExecErrMsg},</if>
			<if test="lastExecDate != null">last_exec_date = #{lastExecDate},</if>
			<if test="scheduleExecDate != null">schedule_exec_date = #{scheduleExecDate},</if>
			<if test="currentExecComputer != null">current_exec_computer = #{currentExecComputer},</if>
			<if test="currentExecProcessId != null">current_exec_process_id = #{currentExecProcessId},</if>
			<if test="currentExecStartDate != null">current_exec_start_date = #{currentExecStartDate},</if>
			<if test="createDate != null">create_date = #{createDate},</if>
			<if test="updateDate != null">update_date = #{updateDate},</if>
			<if test="deleteDate != null">delete_date = #{deleteDate},</if>
		</set>
	</sql>
	
	<sql id="pkwhere">
		<trim prefix="WHERE" prefixOverrides="AND">
			AND id = #{id}
		</trim>
	</sql>
	
	<select id="load"  resultType="BsiOrderDetailDomain">
		SELECT 
		<include refid="columns" />
		FROM t_svp_bsi_order_detail
		<include refid="pkwhere" />		
	</select>
	
	<select id="loadDynamic" parameterType="hashmap" resultType="BsiOrderDetailDomain">
		SELECT 		
		<include refid="columns" />
		FROM t_svp_bsi_order_detail
		<include refid="where" />
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
	</select>

	<select id="count"  parameterType="hashmap" resultType="integer">
		SELECT count(1) 
		FROM t_svp_bsi_order_detail
		<include refid="where" />
	</select>
	
	<select id="countByPK"  resultType="integer">
		SELECT count(1) 
		FROM t_svp_bsi_order_detail
		<include refid="pkwhere" />		
	</select>
	
	<insert id="insert"  parameterType="BsiOrderDetailDomain">
		INSERT INTO t_svp_bsi_order_detail (			
				id,				
				order_code,				
				supplier_code,				
				store_code,				
				user_code,				
				goods_code,				
				goods_name,				
				goods_post_deal,				
				bsi_task_code,				
				bsi_task_status,				
				bsi_phone_model_id,				
				bsi_product_id,				
				imei,				
				bsi_benef_id_typ,				
				bsi_benef_id_number,				
				bsi_benef_birthday,				
				bsi_benef_sex,				
				bsi_benef_name,				
				bsi_benef_mobile_number,				
				bsi_cash_coupon_code,				
				promotion_activity_desc,				
				promotion_activity_code,				
				bsi_insurance_code,				
				exec_times,				
				max_exec_times,				
				last_exec_err_code,				
				last_exec_err_msg,				
				last_exec_date,				
				schedule_exec_date,				
				current_exec_computer,				
				current_exec_process_id,				
				current_exec_start_date,				
				create_date,				
				update_date,				
				delete_date				
		)		
		VALUES (	
			#{id},
			#{orderCode},
			#{supplierCode},
			#{storeCode},
			#{userCode},
			#{goodsCode},
			#{goodsName},
			#{goodsPostDeal},
			#{bsiTaskCode},
			#{bsiTaskStatus},
			#{bsiPhoneModelId},
			#{bsiProductId},
			#{imei},
			#{bsiBenefIdTyp},
			#{bsiBenefIdNumber},
			#{bsiBenefBirthday},
			#{bsiBenefSex},
			#{bsiBenefName},
			#{bsiBenefMobileNumber},
			#{bsiCashCouponCode},
			#{promotionActivityDesc},
			#{promotionActivityCode},
			#{bsiInsuranceCode},
			#{execTimes},
			#{maxExecTimes},
			#{lastExecErrCode},
			#{lastExecErrMsg},
			#{lastExecDate},
			#{scheduleExecDate},
			#{currentExecComputer},
			#{currentExecProcessId},
			#{currentExecStartDate},
			#{createDate},
			#{updateDate},
			#{deleteDate}
		) 
	</insert>
	
	<delete id="delete" >
		DELETE FROM t_svp_bsi_order_detail
		<include refid="pkwhere" />	
	</delete>
	
	<delete id="deleteDynamic" parameterType="hashmap">
		DELETE FROM t_svp_bsi_order_detail
		<include refid="where" />
	</delete>

	<update id="update" parameterType="BsiOrderDetailDomain">
		UPDATE t_svp_bsi_order_detail	
		<include refid="update" />
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateWithoutNull" parameterType="BsiOrderDetailDomain">
		UPDATE t_svp_bsi_order_detail
		<include refid="updateWithoutNull"/>
		<include refid="pkwhere" />	
	</update>
	
	<update id="updateDynamic" parameterType="hashmap">
		UPDATE t_svp_bsi_order_detail	
		<include refid="update" />
		<include refid="where_old" />
	</update>
	
	<select id="loadDynamicPaging" parameterType="hashmap" resultType="BsiOrderDetailDomain">
		SELECT 		
		<include refid="columns" />
		FROM t_svp_bsi_order_detail
		<include refid="where" />
		<if test="_orderby != null">ORDER BY ${_orderby}</if>
		<if test="_offset != null">LIMIT #{_offset},#{_limit}</if>	
	</select>
</mapper>