<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hawk.ecom.product.persist.mapperex.CategoryExMapper">

	<select id="maxObjectOrder" resultType="integer">
		SELECT max(object_order)
		FROM t_prd_category
		WHERE pid = #{pid}
	</select>

</mapper>